<script>
	loadT('Monitor webmasters activity');
</script>
<TMPL_IF users>
	<div class="table-responsive mb-4">
		<table class="table table-hover table-rounded align-middle table-justify small">
			<thead>
				<tr>
					<th>Username</th>
					<th>Money now</th>
					<th>Uploads</th>
					<th>DL / DL-Prem</th>
					<th>Views / Profit Views</th>
					<th>Profit Sales</th>
					<th>Refs / Profit Refs</th>
					<th>Profit Site</th>
				</tr>
			</thead>
			<tbody>
				<TMPL_LOOP users>
					<tr>
						<td><a href="<TMPL_VAR site_url>/adm?op=admin_user_edit&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>">
								<TMPL_VAR usr_login>
							</a></td>
						<td>$<TMPL_VAR usr_money>
						</td>
						<td>
							<TMPL_VAR uploads> (<TMPL_VAR uploads_old>)
						</td>
						<td>
							<TMPL_VAR downloads> / <TMPL_VAR downloads_prem> (<TMPL_VAR downloads_old> / <TMPL_VAR downloads_prem_old>)
						</td>
						<td>
							<TMPL_VAR views> / $<TMPL_VAR profit_views> (<TMPL_VAR views_old> / <TMPL_VAR profit_views_old>)
						</td>
						<td>$<TMPL_VAR profit_sales> (<TMPL_VAR profit_sales_old>)</td>
						<td>
							<TMPL_VAR refs> / $<TMPL_VAR profit_refs> (<TMPL_VAR refs_old> / <TMPL_VAR profit_refs_old>)
						</td>
						<td>$<TMPL_VAR profit_site> (<TMPL_VAR profit_site_old>)</td>
					</tr>
				</TMPL_LOOP>
			</tbody>
		</table>
	</div>
</TMPL_IF>
<TMPL_IF top_profit_users>
	<form method="post">
		<input type="hidden" name="op" value="admin_users_monitor">
		<input type="hidden" name="token" value="<TMPL_VAR token>">
		<h5 class="text-center text-dark mb-3">Most profitable unmonitored users last 3 days</h5>
		<div class="table-responsive">
			<table class="table table-hover table-rounded align-middle small">
				<thead>
					<tr>
						<th></th>
						<th>Username</th>
						<th>Money now</th>
						<th>Uploads</th>
						<th>Views</th>
						<th>Profit Views</th>
						<th>Profit Sales</th>
						<th>Registered</th>
					</tr>
				</thead>
				<tbody>
					<TMPL_LOOP top_profit_users>
						<tr>
							<td>
								<div class="check-radio"><input type="checkbox" name="usr_id" value="<TMPL_VAR usr_id>"></div>
							</td>
							<td><a href="<TMPL_VAR site_url>/adm?op=admin_user_edit&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>">
									<TMPL_VAR usr_login>
								</a></td>
							<td>$<TMPL_VAR usr_money>
							</td>
							<td>
								<TMPL_VAR uploads>
							</td>
							<td>
								<TMPL_VAR views>
							</td>
							<td>$<TMPL_VAR profit_views>
							</td>
							<td>$<TMPL_VAR profit_sales>
							</td>
							<td>
								<TMPL_VAR usr_created> days ago
							</td>
						</tr>
					</TMPL_LOOP>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="8"><input type="submit" name="monitor" value="Start monitoring selected users" class="btn btn-primary"></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
</TMPL_IF>
