<script>
  loadT('Moderator Files');
</script>

<Form style="margin:0;" method="POST">
<input type="hidden" name="op" value="moderator_files">
<input type="hidden" name="num" value="<TMPL_VAR num>">
<input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
<input type="hidden" name="del_info" value="">

<div class="block admin-settings p-0 ">

  <table class="table settings-table mb-0 align-middle">
    <tbody>
      <tr>
          <td class="text-lg-end"><label class="col-form-label">Search</label></td>
    			<td class="border-start"><input type="text" name="key" value="<TMPL_VAR key>"  class="form-control form-control-sm"></td>
      </tr>
    </tbody>
  </table>

<div class="collapse" id="fields">
    <table class="table settings-table mb-0 align-middle">
      <tbody>
    <tr>
        <td class="text-lg-end"><label class="col-form-label">by Code</label></td>
  			<td class="border-start"><input type="text" name="code" value="<TMPL_VAR code>" class="form-control form-control-sm"></td>
    </tr>
    <tr>
        <td class="text-lg-end"><label class="col-form-label">Files per page</label></td>
  			<td class="border-start">


          <div class="btn-group btn-group-sm">

          <input type="radio" class="btn-check" name="per_page" id="pp0" value="<TMPL_VAR items_per_page>"<TMPL_UNLESS per_page> checked</TMPL_UNLESS>>
          <label class="btn btn-outline-primary px-3" for="pp0"><TMPL_VAR items_per_page></label>

          <input type="radio" class="btn-check" name="per_page" id="pp50" value="50" <TMPL_VAR per_50>>
          <label class="btn btn-outline-primary px-3" for="pp50">50</label>

          <input type="radio" class="btn-check" name="per_page" id="pp100" value="100" <TMPL_VAR per_100>>
          <label class="btn btn-outline-primary px-3" for="pp100">100</label>

          <input type="radio" class="btn-check" name="per_page" id="pp500" value="500" <TMPL_VAR per_500>>
          <label class="btn btn-outline-primary px-3" for="pp500">500</label>

          <input type="radio" class="btn-check" name="per_page" id="ppall" value="all" <TMPL_VAR per_all>>
          <label class="btn btn-outline-primary px-3" for="ppall">All</label>


          </div>


        </td>
    </tr>
    <tr>
        <td class="text-lg-end"><label class="col-form-label">Status</label></td>
  			<td class="border-start">


          <div class="btn-group btn-group-sm">

          <input type="radio" class="btn-check" name="file_status" value="OK" id="fsr1"<TMPL_VAR file_status_OK>>
          <label class="btn btn-outline-primary px-3" for="fsr1">OK</label>

          <input type="radio" class="btn-check" name="file_status" value="PENDING" id="fsr2" <TMPL_VAR file_status_PENDING>>
          <label class="btn btn-outline-primary px-3" for="fsr2">PENDING</label>

          <input type="radio" class="btn-check" name="file_status" value="LOCKED" id="fsr3" <TMPL_VAR file_status_LOCKED>>
          <label class="btn btn-outline-primary px-3" for="fsr3">LOCKED</label>


          </div>



        </td>
    </tr>
    <tr>
        <td class="text-lg-end"><label class="col-form-label"> Show thumbnails</label></td>
  			<td class="border-start">
            <div class="form-switcher">
              <input type="checkbox" name="thumbnail" value="1" id="thmo"<TMPL_IF thumbnail> checked</TMPL_IF>><label for="thmo"></label>
            </div>
        </td>
    </tr>
    <tr>
      <td class="text-lg-end"></td>
      <td class="border-start">
            <textarea name="mass_search" id="mass_search" wrap="off" style="display: none;" class="form-control form-control-sm" rows="10"></textarea>
            <small><a href="#" id="btn1">Mass Search</a></small>
        </td>
    </tr>
    </tbody>
  </table>
  </div>


  <table class="table settings-table mb-0 align-middle">
    <tbody>
      <tr>
          <td class="text-lg-end border-0"></td>
          <td class="border-0">
  <button type="button" data-bs-toggle="collapse" data-bs-target="#fields" class="btn btn-outline-light me-1 collapsed btn-options"></button>

            <input type="submit" value="Show files" class="btn btn-primary">

      </td>
      </tr>
    </tbody>
    </table>


</div>



<script>
$(document).ready(function(){
    $("#btn1").click( function(){
        $("#btn1").hide("fast", function(){
            $("#mass_search").show("fast");
            });
        return false;
    });
});
</script>


  <div class="table-responsive">
    <table class="table table-rounded table-hover table-justify">
<thead>
  <TR>
      <TH style="width: 1%;">
        <div class="check-radio"><input type="checkbox" onClick="for(i=0;i<this.form.file_id.length;i++){this.form.file_id[i].checked=this.checked;}if(this.form.file_id.value)this.form.file_id.checked=this.checked;"></div>
      </TH>
      <TH class="text-start"><TMPL_VAR s_file_title>Title<TMPL_VAR s2_file_title></TH>
      <TH><TMPL_VAR s_file_size_n>Size<TMPL_VAR s2_file_size_n></TH>
      <TH>Uploaded by</TH>
      <TH><TMPL_VAR s_file_id>Created<TMPL_VAR s2_file_id></TH>
      <TH>IP</TH>
  </TR>
</thead>
<tbody>
  <TMPL_LOOP files>
  <TR<TMPL_UNLESS __ODD__> class="hi"</TMPL_UNLESS>>
  <TD<TMPL_IF file_public> class='pub'</TMPL_IF>><div class="check-radio"><input type="checkbox" name="file_id" value="<TMPL_VAR file_id>"></div></TD>
  <TD  class="text-start" <TMPL_VAR td_style>>
      <TMPL_IF video_thumb_url><img src="<TMPL_VAR video_thumb_url>"></TMPL_IF>
      <a href="<TMPL_VAR download_link>"><TMPL_VAR file_title_txt></a><TMPL_IF file_password><img src="<TMPL_VAR site_url>/images2/lock.gif" title="Password"></TMPL_IF>
  </TD>
  <TD><TMPL_VAR file_size2></TD>
  <TD><a href="?op=moderator_files&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></a></TD>
  <TD nowrap><small><TMPL_VAR file_created></small></TD>
  <TD><a href="?op=moderator_files&ip=<TMPL_VAR file_ip>"><small><TMPL_VAR file_ip></small></a></TD>
  </TR>
  </TMPL_LOOP>
</tbody>
<tfoot>
  <TR>
      <TD colspan=13>
      <input type="submit" name="del_selected" value="Delete" class="btn btn-danger" onClick="var x=prompt('Delete selected files? Reason of deletion','');if(typeof(x)=='undefined')return false;this.form.del_info.value=x;">
      <input type="submit" name="lock" value="Lock" class="btn btn-secondary">
      <input type="submit" name="unlock" value="Unlock" class="btn btn-primary">
      <TMPL_IF m_d_featured><input type="submit" name="featured_add" value="Add to Featured" class="btn btn-outline-success"> </TMPL_IF>
      </TD>
  </TR>
</tfoot>
</table>
</div>
<TMPL_VAR paging>
</Form>
