<script>
  loadT('Admin <TMPL_IF download>downloads<TMPL_ELSE>views</TMPL_IF>');
</script>


<div class="top-bar">
        <div class="row align-items-center g-3">
          <div class="col-auto">
						<TMPL_IF download>
						<a class="btn btn-primary" href="?op=admin_views<TMPL_VAR token_str>">Views</a>
						<TMPL_ELSE>
						<a class="btn btn-primary" href="?op=admin_views&download=1<TMPL_VAR token_str>">Downloads</a>
						</TMPL_IF>
          </div>
        </div>
      </div>



<form>
<input type="hidden" name="op" value="admin_views">
<input type="hidden" name="token" value="<TMPL_VAR token>">

	<div class="block admin-settings p-0 ">
    <table class="table settings-table mb-0 align-middle">

      <body>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Video file_code</label></td>
	<td class="border-start"><input type="text" name="file_code" value="<TMPL_VAR file_code>" class="form-control form-control-sm"></td>
</tr>
</body>
</table>
<div class="collapse" id="fields">

  <table class="table settings-table mb-0 align-middle">
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Video file_id</label></td>
      <td class="border-start"><input type="text" name="file_id" value="<TMPL_VAR file_id>" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">File owner usr_id</label></td>
      <td class="border-start"><input type="text" name="owner_id" value="<TMPL_VAR owner_id>" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Viewer IP</label></td>
      <td class="border-start"><input type="text" name="ip" value="<TMPL_VAR ip>" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Money > 0</label></td>
      <td class="border-start"><div class="form-switcher"><input type="checkbox" name="money" value="1"<TMPL_IF money> checked</TMPL_IF>></div></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Referer key</label></td>
      <td class="border-start"><input type="text" name="key" value="<TMPL_VAR key>" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Country code</label></td>
      <td class="border-start"><input type="text" name="country" value="<TMPL_VAR country>" class="form-control form-control-sm" maxlength="2" style="max-width:50px"></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Watched last</label></td>
      <td class="border-start">

        <div class="input-group input-group-sm" style="max-width:106px">
                              <input type="text" name="last_hours" value="<TMPL_VAR last_hours>" class="form-control" maxlength="2">
                              <span class="input-group-text">hours</span>
                            </div>


      </td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Finished</label></td>
      <td class="border-start"><div class="form-switcher"><input type="checkbox" name="finished" value="1"<TMPL_IF finished> checked</TMPL_IF>></div></td>
    </tr>
    <tr>
      <td class="text-lg-end"><label class="col-form-label">Download</label></td>
      <td class="border-start"><div class="form-switcher"><input type="checkbox" name="download" value="1"<TMPL_IF download> checked</TMPL_IF>></div></td>
    </tr>
  </table>
</div>


<table class="table settings-table mb-0 align-middle">

  <body>
<tr>
<td class="text-lg-end border-0"></td>
<td class="border-0">
  <button type="button" data-bs-toggle="collapse" data-bs-target="#fields" class="btn btn-outline-light m-1 collapsed btn-options"></button>
  <input type="submit" value="Search" class="btn btn-primary">
</td>
</tr>
</body>
</table>




</div>
</form>


<TMPL_IF list>

<div class="table-responsive">
  <table class="table table-hover table-rounded align-middle table-justify small">
<thead>
	<TR>
	    <TH style="width: 1%;">Date</TH>
	    <TH class="text-start">Filename</TH>
	    <TH>Money</TH>
	    <TH>Owner</TH>
	    <TH>IP</TH>
	    <TH>Size</TH>
	    <TH>Country</TH>
	    <TH>Referer</TH>
	    <TH></TH>
	</TR>
</thead>
<tbody>
	<TMPL_LOOP list>
	<TR>
	    <TD class="text-nowrap"><small class="text-muted"><TMPL_VAR created></small></TD>
	    <TD class="text-start"><a href="<TMPL_VAR download_link>"><TMPL_VAR file_name></a></TD>
	    <TD><TMPL_VAR money></TD>
	    <TD><a href="?op=admin_views&owner_id=<TMPL_VAR owner_id><TMPL_VAR token_str>"><TMPL_VAR owner_id></a></TD>
	    <TD><a href="?op=admin_views&ip=<TMPL_VAR ip><TMPL_VAR token_str>"><TMPL_VAR ip></a></TD>
	    <TD><TMPL_VAR size> MB</TD>
	    <TD><TMPL_VAR country></TD>
	    <TD><TMPL_VAR referer></TD>
	    <TD>
	    	<TMPL_IF finished><span class="badge bg-success">Finished</span><br></TMPL_IF>
	    	<TMPL_IF premium><span class="badge bg-warning text-dark">Premium</span><br></TMPL_IF>
	    	<TMPL_IF adb><span class="badge bg-danger">ADB</span><br></TMPL_IF>
	    	<TMPL_IF embed><span class="badge bg-secondary">Embed</span></TMPL_IF>
	    	<TMPL_IF download><span class="badge bg-primary">Download</span></TMPL_IF>
	    </TD>
	</TR>
	</TMPL_LOOP>
</tbody>
</table>
</div>
<TMPL_ELSE>
	<div class="alert alert-secondary">No files</div>
</TMPL_IF>

<TMPL_VAR paging>
