<script>
  loadT('Category form');
</script>


<Form method="POST">
<input type="hidden" name="op" value="admin_category_form">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<input type="hidden" name="cat_id" value="<TMPL_VAR cat_id>">


	<TMPL_IF msg><div class="alerty alert-primary"><TMPL_VAR msg></div></TMPL_IF>


	<div class="block admin-settings p-0">
    <table class="table settings-table mb-0 align-middle">
      <tbody>

<tr>
  <td class="text-lg-end">
            <label class="col-form-label">Category Name </label>
          </td>
	<td class="border-start">
		<div class="row g-3">
      <div class="col-auto flex-shrink-1">
        <input class="form-control form-control-sm" type="text" name="cat_name" value="<TMPL_VAR cat_name>">
      </div>
      <div class="col-auto">
        <TMPL_IF cat_id> <a class="btn btn-outline-danger" href="?op=admin_category_form&del=<TMPL_VAR cat_id><TMPL_VAR token_str>" onclick="if(!confirm('Delete category?'))return false;">delete</a></TMPL_IF>
      </div>
    </div>
	</td>
</tr>
<tr>
  <td class="text-lg-end">
            <label class="col-form-label">Description </label>
          </td>
	<td class="border-start"><textarea class="form-control form-control-sm" name="cat_descr" cols=36 rows=3 style="width:100%"><TMPL_VAR cat_descr></textarea></td>
</tr>
<tr>
  <td class="text-lg-end">
            <label class="col-form-label">Parent </label>
          </td>
    <td class="border-start"><select class="form-select" name="cat_parent_id"><option value="0"> / </option><TMPL_LOOP list><option value="<TMPL_VAR cat_id>"<TMPL_VAR selected>><TMPL_VAR pre><TMPL_VAR cat_name></option></TMPL_LOOP></select></td>
</tr>
<TMPL_IF cat_id>
<tr>
  <td class="text-lg-end">
            <label class="col-form-label">Order number </label>
          </td>
	<td class="border-start"><input class="form-control form-control-sm" type="text" name="cat_num" value="<TMPL_VAR cat_num>" size=3></td>
</tr>
</TMPL_IF>
<tr>
  <td class="text-lg-end">
            <label class="col-form-label">Premium only </label>
          </td>
	<td class="border-start"><div class="form-switcher">
    <input type="checkbox" name="cat_premium" value="1"<TMPL_IF cat_premium> checked</TMPL_IF>>
  </div></td>
</tr>
</tbody>
    </table>


<div class="text-center p-3">
	<input type="submit" name="save" value="Save" class="btn btn-primary submit-btn">
</div>
</div>
</Form>
