<script>
  loadT('News management');
</script>
<div class="top-bar">
  <div class="row align-items-center g-3">
    <div class="col-auto">
      <input class="btn btn-success" type="button" value="Add news" onClick="window.location='?op=admin_news_edit<TMPL_VAR token_str>'">
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-rounded table-hover table-justify">
    <thead>
      <tr>
        <th>Title</th>
        <th style="width: 1%;">Cmt</th>
        <th style="width: 200px;">Published</th>
        <th style="width: 1%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <TMPL_LOOP news>
        <tr>
          <td><a href="<TMPL_VAR site_url>/n<TMPL_VAR news_id>-<TMPL_VAR news_title2>.html">
              <TMPL_VAR news_title>
            </a></td>
          <td>
            <TMPL_VAR comments>
          </td>
          <td>
            <TMPL_VAR created>
          </td>
          <td class="text-nowrap"><a class="me-2" href="?op=admin_news_edit&amp;news_id=<TMPL_VAR news_id><TMPL_VAR token_str>"><img src="<TMPL_VAR site_url>/images2/edit.svg" alt=""></a> <a href="?op=admin_news&amp;del_id=<TMPL_VAR news_id><TMPL_VAR token_str>"
              onClick="return confirm('Delete this news?')"><img src="<TMPL_VAR site_url>/images2/delete.svg" alt=""></a></td>
        </tr>
      </TMPL_LOOP>
    </tbody>
  </table>
</div>
<TMPL_VAR paging>
