<script>
  loadT('Add new users');
</script>
<div class="block admin-settings p-0">
  <Form method="POST">
    <table class="table settings-table mb-0 align-middle">
      <tbody>
        <TMPL_IF result>
          <tr>
            <td class="text-lg-end">
              <label class="col-form-label">Created users:</label>
            </td>
            <td class="border-start text-success">
              <TMPL_VAR result>
            </td>
          </tr>
        </TMPL_IF>
        <tr>
          <td class="text-lg-end">
            <label class="col-form-label">Generate</label>
          </td>
          <td class="border-start">
            <div class="row align-items-center g-3">
              <div class="col-auto">
                <input type="text" name="num" class="form-control form-control-sm" size="2" maxlength="3">
              </div>
              <div class="col-auto"> users with </div>
              <div class="col-auto">
                <input type="text" name="prem_days" class="form-control form-control-sm" size="2" maxlength="3">
              </div>
              <div class="col-auto"> premium days </div>
              <div class="col-auto">
                <input type="submit" class="btn btn-success btn-sm" name="generate" value="Generate">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-lg-end">
            <label class="col-form-label">One user per line</label>
          </td>
          <td class="border-start">
            <input type="hidden" name="op" value="admin_users_add">
            <input type="hidden" name="token" value="<TMPL_VAR token>"> Format: login:password:premium_days:email<br>
            <span class="text-muted">(premium_days and email fields are optional)</span> <br><br> e.g.: 3473581:q6bftuakez:14<br> or<br> login1:password1:21:xxx@gmail.com<br>
            <br>
            <Textarea name="list" class="form-control form-control-sm" rows="12"><TMPL_VAR list></Textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center p-4">
      <input type="submit" name="create" value="Create users above" class="btn btn-primary submit-btn">
    </div>
  </Form>
</div>
