<script>
  loadT('Admin Streams');
</script>
<TMPL_IF msg>
  <div class="alert alert-success">
    <TMPL_VAR msg>
  </div>
</TMPL_IF>
<TMPL_IF list>
  <div class="table-responsive">
    <table class="table table-rounded table-hover table-justify">
      <thead>
        <tr>
          <th>Title</th>
          <th width="120">User</th>
          <th width="110">Live</th>
          <th width="1%"></th>
        </tr>
      </thead>
      <tbody>
        <TMPL_LOOP list>
          <tr>
            <td>
              <a href="<TMPL_VAR SITE_URL>/stream/<TMPL_VAR stream_code>"><b>
                  <TMPL_VAR stream_title>
                </b></a>
              <TMPL_IF stream_live><br><img src="<TMPL_VAR host_htdocs_url>/tmp/<TMPL_VAR stream_code>.jpg" height=80></TMPL_IF>
            </td>
            <td>
              <TMPL_VAR usr_login>
            </td>
            <td>
              <TMPL_IF stream_live><b style="color:green">LIVE</b></TMPL_IF>
              <TMPL_IF watchers>
                <TMPL_VAR watchers> watching
              </TMPL_IF>
            </td>
            <td><a href="?op=admin_streams&amp;del=<TMPL_VAR stream_id>&amp;token=<TMPL_VAR token>" onClick="return confirm('Delete this stream?')"><img src="<TMPL_VAR static_url>/images2/delete.svg" border=0></a></td>
          </tr>
        </TMPL_LOOP>
      </tbody>
    </Table>
  </div>
  <TMPL_ELSE>
    <div class="alert alert-secondary"> empty </div>
</TMPL_IF>
