<script>
  loadT('User reports');
</script>
<div class="top-bar">
  <Form>
  <input type="hidden" name="op" value="admin_user_reports">
  <input type="hidden" name="token" value="<TMPL_VAR token>">
  <input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <input type="text" class="form-select date" name="date1" value="<TMPL_VAR date1>" style="max-width: 150px;">
      </div>
      <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="1" fill="none">
          <path stroke="#7E879D" d="M0 .5h14"></path>
        </svg>
      </div>
      <div class="col-auto">
        <input type="text" class="form-select date"  name="date2" value="<TMPL_VAR date2>" style="max-width: 150px;">
      </div>
      <div class="col-auto">
        <button type="submit" name="show" class="btn btn-primary"><TMPL_VAR lng_myreports_show></button>
      </div>
    </div>
  </Form>
</div>




<div class="mb-4 text-center">
  <embed src="<TMPL_VAR site_url>/FCF_MSLine.swf?chartWidth=600&chartHeight=360" flashVars="&dataXML=<TMPL_VAR data_xml>" quality="high" width="600" height="360" name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</div>

<div class="table-responsive">
  <table class="table table-hover table-rounded align-middle small table-justify">
<thead>
  <tr>
      <th>Date</th>
      <th>Uploads</th>
      <th>Downloads</th>
      <th>Views</th>
      <th>Premium Sales</th>
      <th>Referrals</th>
      <th>New Refs</th>
      <th>Total</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP list>
  <tr>
      <td><TMPL_VAR day></td>
      <td><TMPL_VAR uploads> / <TMPL_VAR uploads_mb> MB</td>
      <td><TMPL_VAR downloads></td>
      <td><TMPL_VAR views> / $<TMPL_VAR profit_views></td>
      <td><a href="?op=admin_transactions&date=<TMPL_VAR day>&aff_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR sales></a> / $<TMPL_VAR profit_sales></td>
      <td>$<TMPL_VAR profit_refs></td>
      <td><TMPL_VAR refs></td>
      <td>$<TMPL_VAR profit_total></td>
  </tr>
  </TMPL_LOOP>
</tbody>
<tfoot>
  <tr>
      <th></th>
      <th><TMPL_VAR sum_uploads> / <TMPL_VAR sum_uploads_mb> MB</th>
      <th><TMPL_VAR sum_downloads></th>
      <th><TMPL_VAR sum_views> / $<TMPL_VAR sum_profit_views></th>
      <th><TMPL_VAR sum_sales> / $<TMPL_VAR sum_profit_sales></th>
      <th>$<TMPL_VAR sum_profit_refs></th>
      <th><TMPL_VAR sum_refs></th>
      <th>$<TMPL_VAR sum_profit_total></th>
  </tr>
</tfoot>
</table>
</div>
