<script>
  loadT('Payouts History');
</script>

<Form>
<div class="top-bar">
  <div class="row align-items-center g-3">
    <div class="col-auto">
			<input type="hidden" name="op" value="admin_payouts_history">
			<input type="hidden" name="token" value="<TMPL_VAR token>">

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          Date:
        </div>
			<div class="col-auto">
				<div class="row g-2 align-items-center">
					<div class="col-auto">
						<input type="text" class="form-select date" name="date1" value="<TMPL_VAR date1>" style="max-width: 150px;">
					</div>
					<div class="col-auto">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="1" fill="none">
							<path stroke="#7E879D" d="M0 .5h14"></path>
						</svg>
					</div>
					<div class="col-auto">
						<input type="text" class="form-select date"  name="date2" value="<TMPL_VAR date2>" style="max-width: 150px;">
					</div>

				</div>
			</div>


        <div class="col-auto">
          Username:
        </div>
        <div class="col-auto">
        <input type="text" name="usr_login" value="<TMPL_VAR usr_login>" class="form-control" style="max-width: 150px;">
        </div>
        <div class="col-auto">
          Status:
        </div>
        <div class="col-auto">
          <select name="status" class="form-select"><option value="">Any</option><option>PAID</option><option>REJECTED</option></select>
        </div>
        <div class="col-auto">
        <input type="submit" value="Show" class="btn btn-primary">
        </div>
      </div>

    </div>
  </div>
</div>








<div class="h5 mb-3 text-dark text-center">
  Payouts history
</div>

<div class="table-responsive">
	<table class="table table-hover table-rounded align-middle table-justify small">

<thead>
	<tr class="hdr">
		<th style="width: 1%;"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
	    <th>Username</th>
	    <th>Amount</th>
	    <th>Email</th>
	    <th>Payout system</th>
	    <th>Payment Info</th>
	    <th>Requested</th>
	    <th>Processed</th>
	    <th>Status</th>
	</tr>
</thead>

<tbody><TMPL_LOOP list>
<tr>
	<td><div class="check-radio"><input type="checkbox" name="id" value="<TMPL_VAR id>"></div></td>
    <td><TMPL_VAR usr_login></td>
    <td>$<TMPL_VAR amount></td>
    <td><TMPL_VAR usr_email></td>
    <td><TMPL_VAR pay_type></td>
    <td><TMPL_VAR pay_info></td>
    <td><TMPL_VAR created></td>
    <td><TMPL_VAR processed></td>
    <td><TMPL_VAR status></td>
</tr>
</TMPL_LOOP></tbody>

<tfoot>
	<tr>
		<td></td>
		<td></td>
		<td>$<TMPL_VAR sum_amount></td>
		<td colspan="9">
			<input type="submit" name="delete_selected" value="Delete selected" onClick="return confirm('Delete?')" class="btn btn-danger">
		</td>
	</tr>
</tfoot>
</Table>
</div>

</Form>

<TMPL_VAR paging>

<script>
$("input[name=id]").change( function(){ $(this).parent().parent().toggleClass('hi2'); } );
$("#selall").change(function(){
           var sel=this.checked;
           $("input[name=id]:enabled").each(function(){
               $(this).prop('checked',sel);
               if(sel){$(this).parent().parent().addClass('hi2');} else {$(this).parent().parent().removeClass('hi2');}
           });
    });
</script>
