<script>
	loadT('Login History for usr_id=<TMPL_VAR usr_id>');
</script>

<TMPL_IF list>
<div class="col-lg-6 mx-auto">
  <div class="table-responsive">
    <table class="table table-rounded table-hover table-fixed table-jsutify">
<thead>
  <tr>
      <th>Date</th>
      <th>IP</th>
      <th>User Agent</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP list>
  <tr>
      <td><TMPL_VAR created></td>
      <td><TMPL_VAR ip><TMPL_IF country> (<TMPL_VAR country>)</TMPL_IF></td>
      <td><TMPL_VAR agent></td>
  </tr>
  </TMPL_LOOP>
</tbody>
</Table>
</div>
</div>
</TMPL_IF>
