<script>
	loadT('Site Statistics');
</script>
<div class="top-bar">
  <div class="row align-items-center g-3">
    <div class="col-auto">
      <Form>
			<input type="hidden" name="op" value="admin_stats">
			<input type="hidden" name="token" value="<TMPL_VAR token>">
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          <input type="text" class="form-select date" name="date1" value="<TMPL_VAR date1>" style="max-width: 150px;">
        </div>
        <div class="col-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="1" fill="none">
            <path stroke="#7E879D" d="M0 .5h14"></path>
          </svg>
        </div>
        <div class="col-auto">
          <input type="text" class="form-select date"  name="date2" value="<TMPL_VAR date2>" style="max-width: 150px;">
        </div>
        <div class="col-auto">
          <button type="submit" name="show" class="btn btn-primary"><TMPL_VAR lng_myreports_show></button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>




<div class="row">
  <div class="col mb-4">
    <div class="block py-3 px-4 mb-0 h-100 text-nowrap">
      <div class="row flex-nowrap py-1">
        <div class="col-auto flex-grow-1 flex-shrink-1">
          <div class="text-muted">Total users</div>
          <div class="fs-1 fw-bold text-dark">1024</div>
          <div>
            <a href="/adm?op=admin_users<TMPL_VAR token_str>">Manage users
					<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><path fill="currentColor" d="M5.1 9.5c-.3.3-.3.7 0 1 .3.3.7.3 1 0l3-3c.3-.3.3-.7 0-1l-3-3c-.3-.3-.7-.3-1 0-.3.3-.3.7 0 1L7.6 7 5.1 9.5ZM7 0c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7Z"></path></svg>
				</a>
          </div>
        </div>
        <div class="col-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
            <path fill="#4B92FC" d="M20 0C9 0 0 9 0 20s9 20 20 20 20-9 20-20S31 0 20 0Zm-2.4 11c2.6 0 4.8 2.1 4.8 4.8 0 2.7-2.1 4.8-4.8 4.8-2.6 0-4.8-2.1-4.8-4.8 0-2.7 2.2-4.8 4.8-4.8Zm8.9 19H8.7v-1.2c0-3.9 3.2-7.1 7.1-7.1h3.6c3.9 0 7.1 3.2 7.1 7.1V30Zm2.4-2.4c0-.1-.1-5.1-5.1-6.6l-1.9-.6 1.4-1.4c.9-.9 1.4-2.2 1.3-3.5-.1-1.4-.9-2.7-2.3-3.5l1.3-2c1.9 1.3 3.1 3.2 3.3 5.3.1 1.4-.2 2.9-.9 4.1 4.1 2 5.2 6.1 5.2 8.3h-2.3v-.1Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="block py-3 px-4 mb-0 h-100 text-nowrap">
      <div class="row flex-nowrap py-1">
        <div class="col-auto flex-grow-1 flex-shrink-1">
          <div class="text-muted">Premium users</div>
          <div class="fs-1 fw-bold text-dark">75</div>
					<div>
            <a href="/adm?op=admin_users<TMPL_VAR token_str>">Manage users
					<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><path fill="currentColor" d="M5.1 9.5c-.3.3-.3.7 0 1 .3.3.7.3 1 0l3-3c.3-.3.3-.7 0-1l-3-3c-.3-.3-.7-.3-1 0-.3.3-.3.7 0 1L7.6 7 5.1 9.5ZM7 0c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7Z"></path></svg>
				</a>
          </div>
        </div>
        <div class="col-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M20 0C8.9 0 0 8.9 0 20C0 31.1 8.9 40 20 40C31.1 40 40 31 40 20C40 9 31 0 20 0ZM28.5 32L20 26.9L11.5 32L13.7 22.4L6.2 15.9L16 15.1L20 6L23.8 15.1L33.6 15.9L26.1 22.4C26.2 22.4 28.5 32 28.5 32Z" fill="#3586FF"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="block py-3 px-4 mb-0 h-100 text-nowrap">
      <div class="row flex-nowrap py-1">
        <div class="col-auto flex-grow-1 flex-shrink-1">
          <div class="text-muted">Total space used</div>
          <div class="fs-1 fw-bold text-dark">10 Gb</div>
          <div class="row align-items-center">
            <div class="col-auto flex-grow-1 flex-shrink-1">
              <div class="progress" role="progressbar" style="height: 8px">
                <div class="progress-bar" style="width: 25%"></div>
              </div>
            </div>
            <div class="col-auto">
              <small class="text-muted">200Gb</small>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
            <path fill="#4B92FC" d="M20 0C8.9 0 0 8.9 0 20s8.9 20 20 20 20-9 20-20S31 0 20 0Zm9 28H12c-3.3 0-6-2.7-6-6s2.7-6 6-6h.3c.9-3.5 4-6 7.7-6 4.4 0 8 3.6 8 8h1c2.8 0 5 2.2 5 5s-2.2 5-5 5Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="block py-3 px-4 mb-0 h-100 text-nowrap">
      <div class="row flex-nowrap py-1">
        <div class="col-auto flex-grow-1 flex-shrink-1">
          <div class="text-muted">Total videos</div>
          <div class="fs-1 fw-bold text-dark">2.500</div>
          <div>
            <a href="/adm?op=admin_files<TMPL_VAR token_str>">Manage videos

					<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><path fill="currentColor" d="M5.1 9.5c-.3.3-.3.7 0 1 .3.3.7.3 1 0l3-3c.3-.3.3-.7 0-1l-3-3c-.3-.3-.7-.3-1 0-.3.3-.3.7 0 1L7.6 7 5.1 9.5ZM7 0c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7Z"></path></svg>

				</a>
          </div>
        </div>
        <div class="col-auto">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 16V14H18V16H15Z" fill="#3586FF"></path>
            <path d="M15 26V24H18V26H15Z" fill="#3586FF"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40ZM29 12C29 11.4 28.6 11 28 11H12C11.4 11 11 11.4 11 12V19H29V12ZM29 28V21H11V28C11 28.6 11.4 29 12 29H28C28.6 29 29 28.6 29 28Z" fill="#3586FF"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="<TMPL_VAR static_url>/js/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>


	<script>
	$(function() {

const data_profit = {
	labels: [<TMPL_LOOP list>'<TMPL_VAR x>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Profit',
		yAxisID: 'L',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR profit><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Payout',
		yAxisID: 'R',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR payout><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	}
]
};
const config_profit = {
  type: 'line',
  data: data_profit,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
    },
    scales: {
    		L: {
				title: {display: true, text: 'Profit, USD',},
				position: 'left',
				min: 0,
			},
			R: {
				type: 'linear',
				min: 0,
				title: {display: true, text: 'Payouts, USD',},
				position: 'right',
			}
        },
  }
};
//-------------------------------------------------
const data_register = {
	labels: [<TMPL_LOOP list>'<TMPL_VAR x>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Registered',
		yAxisID: 'L',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR registered><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Sales',
		yAxisID: 'R',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR paid><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	}
]
};
const config_register = {
  type: 'line',
  data: data_register,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
    },
    scales: {
    		L: {
				title: {display: true, text: 'Registered',},
				position: 'left',
				min: 0,
			},
			R: {
				type: 'linear',
				min: 0,
				title: {display: true, text: 'Sales, USD',},
				position: 'right',
			}
        },
  }
};
//-------------------------------------------------
const data_views = {
	labels: [<TMPL_LOOP list>'<TMPL_VAR x>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Views',
		yAxisID: 'L',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR views><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Traffic',
		yAxisID: 'R',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR bandwidth><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	}
]
};
const config_views = {
  type: 'line',
  data: data_views,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
    },
    scales: {
    		L: {
				title: {display: true, text: 'Views',},
				position: 'left',
				min: 0,
			},
			R: {
				type: 'linear',
				min: 0,
				title: {display: true, text: 'Traffic, GBytes',},
				position: 'right',
			}
        },
  }
};
//-------------------------------------------------
const data_uploads = {
	labels: [<TMPL_LOOP list>'<TMPL_VAR x>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Uploaded',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR uploads><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Deleted',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP list><TMPL_VAR deleted><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	}
]
};
const config_uploads = {
  type: 'line',
  data: data_uploads,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
    },
    scales: {
        }
  }
};
//-------------------------------------------------
const data_speeds = {
	labels: [<TMPL_LOOP listperf>'<TMPL_VAR time1>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Out',
		yAxisID: 'L',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP listperf><TMPL_VAR speed_out><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'In',
		yAxisID: 'L',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		cubicInterpolationMode: 'monotone',
      	tension: 0.4,
		data: [<TMPL_LOOP listperf><TMPL_VAR speed_in><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Connections',
		yAxisID: 'R',
		backgroundColor: 'red',
		borderColor: 'red',
		fill: false,
		data: [<TMPL_LOOP listperf><TMPL_VAR connections><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
]
};
const config_speeds = {
  type: 'line',
  data: data_speeds,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
    },
    scales: {
            x: {
            	type: 'time',
            	time: {
		          // Luxon format string
		          tooltipFormat: 'DD MMM HH:mm',
		          unit: '<TMPL_VAR xunit>',
		          displayFormats: {
                        hour: 'HH:mm'
                  },
		          stepSize: '<TMPL_VAR skip>'
		        }
            },
			L: {
				title: {display: true, text: 'Mbps',},
				position: 'left',
				min: 0,
			},
			R: {
				type: 'linear',
				min: 0,
				title: {display: true, text: 'Connections',},
				position: 'right',
			}
        }
  }
};
//--------------------------------------------------------
const data_queues = {
	labels: [<TMPL_LOOP listperf>'<TMPL_VAR time1>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
	datasets: [
	{
		label: 'Encodings',
		backgroundColor: 'green',
		borderColor: 'green',
		fill: false,
		data: [<TMPL_LOOP listperf><TMPL_VAR encode><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'Transfers',
		backgroundColor: '#3586FF',
		borderColor: '#3586FF',
		fill: false,
		data: [<TMPL_LOOP listperf><TMPL_VAR transfer><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
	{
		label: 'URL Uploads',
		backgroundColor: 'red',
		borderColor: 'red',
		fill: false,
		data: [<TMPL_LOOP listperf><TMPL_VAR urlupload><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>]
	},
]
};
const config_queues = {
  type: 'line',
  data: data_queues,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    plugins: {
      legend: {
        position: 'top',
      },
      // title: {
      //   display: true,
      //   text: 'Queue '
      // }
    },
    scales: {
            x: {
            	type: 'time',
            	time: {
		          // Luxon format string
		          tooltipFormat: 'DD MMM HH:mm',
		          unit: '<TMPL_VAR xunit>',
		          displayFormats: {
                        hour: 'HH:mm'
                  },
		          stepSize: '<TMPL_VAR skip>'
		        },
          //   	display: true,
          //       title: {
		        //   display: true,
		        //   text: 'Date'
		        // }
            },
            y: {
				min: 0,
			},
        }
  }
};

		new Chart($('#chart_uploads'), config_uploads );
		new Chart($('#chart_queues'), config_queues );
		new Chart($('#chart_speeds'), config_speeds );
		new Chart($('#chart_views'), config_views );
		new Chart($('#chart_register'), config_register );
		new Chart($('#chart_profit'), config_profit );

	});


	</script>

<div class="block">


	<b>Files Uploaded / Deleted</b>
	<canvas id="chart_uploads" style="width:100%;height:420px;"></canvas>
</div>
<div class="block">

	<b>Views / Traffic, GB</b>
	<canvas id="chart_views" style="width:100%;height:420px;"></canvas>
</div>
<div class="block">

	<b>Registered / Sales</b>
	<canvas id="chart_register" style="width:100%;height:420px;"></canvas>
</div>
<div class="block">

	<b>User views Profit, $</b>
	<canvas id="chart_profit" style="width:100%;height:420px;"></canvas>
</div>
<div class="block">

	<b>All servers speed, Mbps</b>
	<canvas id="chart_speeds" style="width:100%;height:420px;"></canvas>
</div>
<div class="block">

	<b>Queues</b>
	<canvas id="chart_queues" style="width:100%;height:420px;"></canvas>
</div>

<div class="table-responsive mb-4">
	<table class="table table-rounded table-justify">
<thead>
	<tr>
	    <th>Date</th>
	    <th>Uploads</th>
	    <th>Deleted</th>
	    <th>Views</th>
	    <th>ViewsADB</th>
	    <th>Downloads</th>
	    <th>Registered</th>
	    <th>Traffic,GB</th>
	    <th>Sales $</th>
	    <th>Views $</th>
	    <th>Total Profit $</th>
	    <th>Payouts $</th>
	</tr>
</thead>
<tbody>
	<TMPL_LOOP list2>
	<tr>
	    <td><TMPL_VAR day></td>
	    <td><TMPL_VAR uploads></td>
	    <td><TMPL_VAR deleted></td>
	    <td><TMPL_VAR views></td>
	    <td><TMPL_VAR views_adb></td>
	    <td><TMPL_VAR downloads></td>
	    <td><TMPL_VAR registered></td>
	    <td><TMPL_VAR bandwidth></td>
	    <td><TMPL_VAR paid></td>
	    <td><TMPL_VAR profit></td>
	    <td><TMPL_VAR profit_total></td>
	    <td><TMPL_VAR payout></td>
	</tr>
	</TMPL_LOOP>
</tbody>
<tfoot>
	<tr>
	    <th></th>
	    <th><TMPL_VAR sum_uploads></th>
	    <th><TMPL_VAR sum_deleted></th>
	    <th><TMPL_VAR sum_views></th>
	    <th><TMPL_VAR sum_views_adb></th>
	    <th><TMPL_VAR sum_downloads></th>
	    <th><TMPL_VAR sum_registered></th>
	    <th><TMPL_VAR sum_bandwidth></th>
	    <th>$<TMPL_VAR sum_paid></th>
	    <th>$<TMPL_VAR sum_profit></th>
	    <th>$<TMPL_VAR sum_profit_total></th>
	    <th>$<TMPL_VAR sum_payout></th>
	</tr>
</tfoot>
</table>
</div>
