<div class="container">
  <h1 class="text-center text-dark mb-4">
    <TMPL_VAR lng_index_add_categories>
  </h1>
  <div class="row videos row-cols-xl-5 gx-3 gx-lg-4">
    <TMPL_LOOP categories>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="videoItem">
          <div class="videoItem-cover mb-2">
            <a href="<TMPL_VAR site_url>/category/<TMPL_VAR cat_name2>">
              <div class="thumb" style="background: url('<TMPL_VAR img>') no-repeat;">
                <span class="videoItem-time">
                  <TMPL_VAR num> videos
                </span>
              </div>
            </a>
          </div>
          <div class="videoItem-info">
            <div class="videoItem-title mb-1">
              <a class="link-body-emphasis" href="<TMPL_VAR site_url>/category/<TMPL_VAR cat_name2>">
                <TMPL_VAR cat_name>
              </a>
            </div>
          </div>
        </div>
      </div>
    </TMPL_LOOP>
  </div>
</div>
