<div class="container">
	<section class="page">
		<h1 class="text-center text-dark mb-4"><TMPL_VAR lng_checkfiles_title></h1>
		<TMPL_IF result>
			<div class="col-xl-7 py-2 px-3 rounded shadow mx-auto mb-4 mb-lg-5 small break-all">
				<TMPL_VAR result>
			</div>
		</TMPL_IF>
		<div class="col-xl-9 mx-auto">
      <Form method="POST">
      <input type="hidden" name="op" value="checkfiles">
				<div class="mb-3">
					<textarea class="form-control" name="list" rows="6" placeholder="<TMPL_VAR lng_checkfiles_one_url_per_line>"></textarea>
				</div>
				<div class="text-center">
          <input type="submit" name="process" value="<TMPL_VAR lng_checkfiles_check_urls>" class="btn btn-primary submit-btn">
				</div>
			</form>
		</div>
	</section>
</div>
