<div class="container">
  <Form>
    <div class="login">
      <input type="hidden" name="op" value="<TMPL_VAR op>">
      <input type="hidden" name="id" value="<TMPL_VAR id>">
      <input type="hidden" name="token" value="<TMPL_VAR token>">
      <h1 class="fs-3 text-dark mb-4">
        <TMPL_VAR msg>
      </h1>
      <div class="form-floating mb-4">
        <input type="password" name="password" id="password" class="form-control">
        <label for="password">Enter admin password:</label>
      </div>
      <div class="text-center">
        <input type="submit" value="<TMPL_VAR btn>" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
