
<div class="container">
  <section class="page">

<TMPL_IF download_orig_recaptcha_v3>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) { $("#F1").submit(); }
</script>
</TMPL_IF>



	<TMPL_IF msg>
		<div class="alert alert-danger">
			<TMPL_VAR msg>
		</div>
	</TMPL_IF>

<TMPL_UNLESS no_dl_btn>
<Form method="POST" id="F1" action="">
<input type="hidden" name="op" value="download_orig">
<input type="hidden" name="id" value="<TMPL_VAR file_code>">
<input type="hidden" name="mode" value="<TMPL_VAR mode>">
<input type="hidden" name="hash" value="<TMPL_VAR hash>">

<div class="text-center mb-4 p-4">
	<button class="btn btn-primary submit-btn flex-column h-auto fs-6 align-items-start text-start <TMPL_IF download_orig_recaptcha_v3>g-recaptcha</TMPL_IF>" <TMPL_IF download_orig_recaptcha_v3> data-sitekey="<TMPL_VAR recaptcha3_pub_key>" data-callback='onSubmit' data-action='submit'</TMPL_IF>>
		<div class="row align-items-center g-3">
			<div class="col-auto">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
					<path d="M8.72719 28.3182C3.49083 27.8819 -0.436447 23.3728 -8.36439e-05 18.1364C0.290825 15.0819 1.89083 12.4637 4.36355 10.8637C5.23628 4.46368 11.0545 -0.0454082 17.4545 0.827319C22.6908 1.55459 26.909 5.62732 27.4908 10.8637C31.8545 13.6273 33.309 19.4455 30.5454 23.9546C28.9454 26.5728 26.1817 28.1728 23.2726 28.3182H8.72719ZM17.4545 15.2273V9.40914H14.5454V15.2273H10.1817L15.9999 22.5L21.8181 15.2273H17.4545Z" fill="currentColor"></path>
				</svg>
			</div>
			<div class="col-auto">
				<div class="fs-4 fw-600">
					<TMPL_VAR lng_download_download_original>
				</div>
				<div class="small">
					<TMPL_VAR file_name>
				</div>
				<div class="small opacity-50"><TMPL_VAR file_size_txt></div>
			</div>
		</div>
	</button>

</div>
</Form>
</TMPL_UNLESS>




</section>
</div>
