These files from your account were updated due to DMCA requests:

<br><br>

<table border=1 cellpadding=5 cellspacing=1>
<tr align=center>
	<td>Video</td>
	<td>Uploaded</td>
	<td>Old Filecode</td>
	<td>New Filecode</td>
</tr>
<TMPL_LOOP files>
<tr align=center>
	<td><a href="<TMPL_VAR file_url>"><TMPL_VAR file_title></a></td>
	<td><TMPL_VAR file_created></td>
	<td><TMPL_VAR file_code_old></td>
	<td><TMPL_VAR file_code_new></td>
</tr>
</TMPL_LOOP>
</table>

<br><br>

You can check your updated files on special page: <a href="<TMPL_VAR site_url>/?op=my_files_dmca_renamed">DMCA Renamed Files</a>