<header class="header">
  <div class="container">
    <div class="row header-row align-items-center flex-nowrap">
      <div class="col-auto flex-grow-1 flex-shrink-1">
        <div class="row align-items-center">
          <div class="col-auto d-lg-none">
            <div class="dropdown">
              <button class="btn icon-btn" data-bs-toggle="dropdown" data-bs-offset="0, 16">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22" height="16" viewBox="0 0 22 16">
                  <path d="M0 0h22v2H0V0zm0 7h22v2H0V7zm0 7h22v2H0v-2z"></path>
                </svg>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <TMPL_IF enabled_prem><TMPL_UNLESS premium>
                <a href="/premium" class="dropdown-item"><TMPL_VAR lng_main_premium></a>
                </TMPL_UNLESS></TMPL_IF>
                <a href="/make_money" class="dropdown-item"><TMPL_VAR lng_main_make_money></a>
                <a href="/check_files" class="dropdown-item"><TMPL_VAR lng_main_link_checker></a>
                <TMPL_IF enable_catalogue>
                <a href="/?op=search" class="dropdown-item"><TMPL_VAR lng_main_search></a>
                </TMPL_IF>
                <a href="/api.html" class="dropdown-item">API</a>
                <a href="/tos" class="dropdown-item"><TMPL_VAR lng_main_tos></a>
                <TMPL_IF news_enabled>
                <a href="/?op=news" class="dropdown-item"><TMPL_VAR lng_main_news></a>
                </TMPL_IF>
                <a href="/contact" class="dropdown-item"><TMPL_VAR lng_main_contact_us></a>
                <a href="/faq" class="dropdown-item"><TMPL_VAR lng_main_faq></a>
              </ul>
            </div>
          </div>
          <div class="col-auto me-lg-4">
            <a href="/" class="logo">
              <img src="<TMPL_VAR static_url>/images2/logo.svg?<TMPL_VAR cdn_version_num>" alt="">
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <nav class="nav">
              <TMPL_IF enable_catalogue>
              <a class="nav-link link-body-emphasis" href="/?op=search"><TMPL_VAR lng_main_search></a>
              </TMPL_IF>
              <TMPL_IF enabled_prem>
              <a class="nav-link link-body-emphasis" href="/premium"><TMPL_VAR lng_main_premium></a>
              </TMPL_IF>
              <a class="nav-link link-body-emphasis" href="/make_money"><TMPL_VAR lng_main_make_money></a>
            </nav>
          </div>
        </div>
      </div>
	<TMPL_IF demo_mode>
	<div class="col-auto">
		<a href="/?design=<TMPL_IF design>0<TMPL_ELSE>2</TMPL_IF>" style="font-size: 12px;">Switch Design</a>
	</div>
	</TMPL_IF>
	<div class="col-auto">
		<div class="dropdown header-lang">
			<button type="button" class="btn icon-btn" data-bs-toggle="dropdown" data-bs-offset="0, 16">
				<img src="<TMPL_VAR static_url>/images2/flags/<TMPL_VAR language_lc>.svg" alt="">
			</button>
			<div class="dropdown-menu">
				<a href="/?op=change_lang&lang=English" class="dropdown-item"><img src="<TMPL_VAR static_url>/images2/flags/english.svg" alt="">English</a>
				<a href="/?op=change_lang&lang=Russian" class="dropdown-item"><img src="<TMPL_VAR static_url>/images2/flags/russian.svg" alt="">Russian</a>
			</div>
		</div>
	</div>
      <TMPL_IF my_login>
      <div class="col-auto">
        <div class="dropdown">
          <button class="btn btn-primary d-none d-lg-flex reg-btn dropdown-toggle text-capitalize" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <TMPL_VAR my_login>
          </button>
          <button class="btn icon-btn d-lg-none text-dark" data-bs-toggle="dropdown" data-bs-offset="0, 16">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" viewbox="0 0 20 20" fill="none">
              <path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 3C11.7 3 13 4.3 13 6C13 7.7 11.7 9 10 9C8.3 9 7 7.7 7 6C7 4.3 8.3 3 10 3ZM10 17.2C7.5 17.2 5.3 15.9 4 14C4 12 8 10.9 10 10.9C12 10.9 16 12 16 14C14.7 15.9 12.5 17.2 10 17.2Z"
                fill="currentColor"/>
             </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-end">

            <a class="dropdown-item" href="<TMPL_VAR site_url>/?op=upload">
              <svg class="opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 22 20" fill="none">
                <path d="M5.99933 19.5C2.39933 19.2 -0.300668 16.1 -0.000667857 12.5C0.199332 10.4 1.29933 8.6 2.99933 7.5C3.59933 3.1 7.59933 1.3113e-06 11.9993 0.600001C15.5993 1.1 18.4993 3.9 18.8993 7.5C21.8993 9.4 22.8993 13.4 20.9993 16.5C19.8993 18.3 17.9993 19.4 15.9993 19.5H5.99933ZM11.9993 11.5H14.9993L10.9993 6.5L6.99933 11.5H9.99933V15.5H11.9993V11.5Z"
                  fill="currentColor"/>
              </svg>
            <TMPL_VAR lng_main_upload_files></a>

            <TMPL_IF upload_enabled>
            <a class="dropdown-item" href="<TMPL_VAR site_url>/?op=my_account">
              <svg class="opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 20 20" fill="none">
                <path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 3C11.7 3 13 4.3 13 6C13 7.7 11.7 9 10 9C8.3 9 7 7.7 7 6C7 4.3 8.3 3 10 3ZM10 17.2C7.5 17.2 5.3 15.9 4 14C4 12 8 10.9 10 10.9C12 10.9 16 12 16 14C14.7 15.9 12.5 17.2 10 17.2Z"
                  fill="currentColor"/>
               </svg>
               <TMPL_VAR lng_main_my_account></a>
            </TMPL_IF>

             <a class="dropdown-item" href="<TMPL_VAR site_url>/?op=my_files">
               <svg class="opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 18 18" fill="none">
                 <path d="M1 0H17C17.6 0 18 0.4 18 1V8H0V1C0 0.4 0.4 0 1 0ZM0 10H18V17C18 17.6 17.6 18 17 18H1C0.4 18 0 17.6 0 17V10ZM4 13V15H7V13H4ZM4 3V5H7V3H4Z" fill="currentColor"/>
               </svg>
               <TMPL_VAR lng_main_my_files></a>


             <TMPL_IF enable_reports><a class="dropdown-item" href="<TMPL_VAR site_url>/?op=my_reports">
               <svg class="opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 20 18" fill="none">
                 <path d="M2 0V16H18V18H0V0H2ZM16.9 2.9L19 5L13 11.1L10 8.1L6.1 12L3.9 9.9L10 3.9L13 6.9L16.9 2.9Z" fill="currentColor"/>
               </svg>
               <TMPL_VAR lng_main_my_reports></a></TMPL_IF>


             <a class="dropdown-item" href="<TMPL_VAR site_url>/?op=logout">
               <svg class="opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 19 20" fill="none"><path d="M1 20c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h14c.6 0 1 .4 1 1v3h-2V2H2v16h12v-2h2v3c0 .6-.4 1-1 1H1zm13-6v-3H7V9h7V6l5 4-5 4z"  fill="currentColor"/></svg>
               <TMPL_VAR lng_main_logout></a>
          </div>
        </div>
      </div>
      <TMPL_ELSE>
          <TMPL_IF enabled_reg>
            <div class="col-auto d-none d-lg-block">
              <a href="/login.html" class="btn me-2 login-btn link-body-emphasis"><TMPL_VAR lng_main_login></a>
              <a href="/?op=registration" class="btn btn-primary reg-btn"><TMPL_VAR lng_main_signup></a>
            </div>
            <div class="col-auto d-lg-none">
              <div class="dropdown">
                <button class="btn icon-btn" data-bs-toggle="dropdown" data-bs-offset="0, 16">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22" height="22" viewBox="0 0 22 22">
                    <path d="M11 22C4.9 22 0 17.1 0 11S4.9 0 11 0s11 4.9 11 11-4.9 11-11 11zm0-20c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9z"></path>
                    <path d="M11 15.3c-3 0-5.4-2.4-5.4-5.4S8 4.4 11 4.4s5.4 2.4 5.4 5.4-2.4 5.5-5.4 5.5zm0-8.9c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4z"></path>
                    <path d="M4.9 19.8c-.2 0-.3 0-.5-.1-.5-.3-.6-.9-.4-1.4 1.5-2.5 3.9-3.8 7-3.8s5.5 1.3 7 3.8c.3.5.1 1.1-.3 1.4-.5.3-1.1.1-1.4-.3-1.1-1.9-2.9-2.8-5.2-2.8-2.4 0-4.1.9-5.3 2.8-.2.2-.6.4-.9.4z"></path>
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item"  href="/login.html"><TMPL_VAR lng_main_login></a>
                  <a class="dropdown-item"  href="/?op=registration"><TMPL_VAR lng_main_signup></a>
                  <a class="dropdown-item"  href="/?op=forgot_pass"><TMPL_VAR lng_main_forgot_pass></a>
                </div>
              </div>
            </div>
        </TMPL_IF>
      </TMPL_IF>
    </div>
  </div>
</header>
