<script>
  loadT('Copyright files deletion tool');
</script>
<TMPL_IF msg>
  <div class="alert alert-success">
    <TMPL_VAR msg>
  </div>
</TMPL_IF>
<div class="block admin-settings p-0">
  <Form method="POST">
    <input type="hidden" name="op" value="legal_tool">
    <table class="table settings-table mb-0 align-middle">
      <tbody>
        <tr>
          <td class="text-lg-end"><label class="col-form-label">Files delete limit today: <TMPL_VAR left></label></td>
          <td class="border-start"><textarea name="mass_delete" class="form-control form-control-sm" rows="12"></textarea></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center p-4">
      <input type="submit" value="Delete files" class="btn btn-primary submit-btn">
    </div>
  </Form>
</div>
