<div class="container">
  <section class="page">
    <h1 class="text-center text-dark mb-4 fs-2">Profit rates for each <TMPL_VAR tier_views_number> views of your video</h1>
    <div class="col-xl-9 mx-auto">
      <div class="table-responsive mb-4 mb-lg-5">
        <table class="table table-rounded align-middle text-center table-fixed">
          <thead class="xsmall">
            <tr>
              <th style="width: 30%;" class="text-muted text-end align-middle" scope="col">Tier / Length</th>
                <TMPL_LOOP sizes>
              <th class="text-muted align-middle" scope="col"><TMPL_VAR t1>-<TMPL_VAR t2> min</th>
              </TMPL_LOOP>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-end p-3">
                <div class="fs-3 fw-600 text-primary">Tier1</div>
                <div class="xsmall fw-500"><TMPL_VAR countries1></div>
              </td>
              <TMPL_LOOP tier1>
              <td>
                <div class="fs-5">$<TMPL_VAR amount></div>
              </td>
              </TMPL_LOOP>
            </tr>
            <tr>
              <td class="text-end p-3">
                <div class="fs-3 fw-600 text-success">Tier2</div>
                <div class="xsmall fw-500"><TMPL_VAR countries2></div>
              </td>
              <TMPL_LOOP tier2>
              <td>
                <div class="fs-5">$<TMPL_VAR amount></div>
              </td>
              </TMPL_LOOP>
            </tr>
            <tr>
              <td class="text-end p-3">
                <div class="fs-3 fw-600 text-danger">Tier3</div>
                <div class="xsmall fw-500"><TMPL_VAR countries3></div>
              </td>
              <TMPL_LOOP tier3>
              <td>
                <div class="fs-5">$<TMPL_VAR amount></div>
              </td>
              </TMPL_LOOP>
            </tr>
            <tr>
              <td class="text-end p-3">
                <div class="fs-3 fw-600 text-warning">Tier4</div>
                <div class="xsmall fw-500">Other countries</div>
              </td>
              <TMPL_LOOP tier4>
              <td>
                <div class="fs-5">$<TMPL_VAR amount></div>
              </td>
              </TMPL_LOOP>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 class="text-dark mb-3">To earn money you just need to follow these simple rules:</h4>
      <ul class="text-list small">
        <li>Minimum payout amount is just
          <b>$20</b>.</li>
        <li>Rewards are
          <b>not counted</b>
if advertising is being blocked.</li>
        <li>Traffic from
          <b>third party apps</b>
will not count.</li>
        <li>There are no rewards for
          <b>automated</b>
downloads.
        </li>
      </ul>
    </div>
  </section>
</div>
