<div class="container">
      <section class="page">

        <div class="row">
          <div class="col-12 col-sidebar d-none d-xl-block">
            <div class="mb-4">
              <div class="h5 text-dark">Categories</div>
              <nav class="nav flex-column catmenu">
                <TMPL_INCLUDE static/categories.html>
                  <a href="<TMPL_VAR site_url>/categories_all" class="nav-link">
                    <TMPL_VAR lng_index_all_categories>
                  </a>
              </nav>
            </div>
            <div class="mb-4">
              <div class="h5 text-dark">Tags</div>
              <div class="nav flex-wrap tags">
                <TMPL_INCLUDE static/tags.html>
              </div>
            </div>
          </div>
          <div class="col-12 col-catalog">
            <div class="mb-5">
              <div class="row align-items-center">
                <div class="col-md-auto me-auto">
                  <h1 class="text-center fs-2 text-dark mb-4"> MY FAVORITES </h1>
                </div>
              </div>
              <div class="row videos row-cols-xl-5 gx-3 gx-lg-4">
                <TMPL_INCLUDE videos_list.html>
              </div>
            </div>
          </div>
        </div>

        <TMPL_IF m_z>
        <script src="<TMPL_VAR cdn_url>/js/thumb_slide.js"></script>

        <script>
        tile_x=<TMPL_VAR m_z_cols>,tile_y=<TMPL_VAR m_z_rows>;
        thumb_w=192, thumb_h=108;
        </script>
        </TMPL_IF>

  </section>
</div>
