<script>
	loadT('Video effects');
</script>
<div class="block admin-settings p-0">
	<form method="POST">
		<input type="hidden" name="op" value="my_file_effects">
		<input type="hidden" name="file_code" value="<TMPL_VAR file_code>">
		<table class="table settings-table mb-0 align-middle">
			<tbody>
				<TMPL_INCLUDE file_effects.html>
			</tbody>
		</table>
		<div class="text-center p-4">
			<input type="submit" name="process" value="Re-encode video with new effects">
		</div>
	</form>
</div>
