<script>
	loadT('Deleted files');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="/?op=my_files_deleted&hide=1" class="btn btn-danger me-2">
				Hide current deleted files</a>
      <input type="submit" name="restore" value="Restore selected" class="btn btn-success">
		</div>
	</div>
</div>

<TMPL_IF msg>
	<div class="alert alert-success">
		<TMPL_VAR msg>
	</div>
</TMPL_IF>

<form method="POST">
<input type="hidden" name="op" value="my_files_deleted">

<TMPL_IF files>
<div class="table-responsive">
  <table class="table table-rounded table-justify">
    <thead>
      <tr>
        <th style="width: 1%;"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
        <th class="text-start">File Title</th>
        <th class="text-start">File Folder / Name</th>
        <th>File code</th>
        <th>Deleted, ago</th>
      </tr>
    </thead>
    <tbody>
			<TMPL_LOOP files>
			<tr>
        <td><TMPL_IF restore><div class="check-radio"><input type="checkbox" name="file_code" value="<TMPL_VAR file_code>"></div></TMPL_IF></td>
        <td class="text-start" <TMPL_VAR own>><TMPL_VAR file_title></td>
        <td class="text-start"><TMPL_VAR file_name></td>
        <td><TMPL_VAR file_code></td>
        <td class="text-muted"><TMPL_VAR ago></td>
        </tr>
			</TMPL_LOOP>
    </tbody>
  </table>
</div>
<TMPL_ELSE>
  <div class="alert alert-secondary">No files</div>
</TMPL_IF>


</form>


<script>
$("#selall").change(function(){
           var sel=this.checked;
           $("input[name=file_code]:enabled").each(function(){
                $(this).prop('checked',sel);
                $(this).change();
            });
    });
$("input[name=file_code]:enabled").shiftSelectable();
</script>
