<script>
	loadT('<TMPL_VAR lng_myaccount_my_playlists>');
</script>

<TMPL_IF list>
<div class="table-responsive">
  <table class="table table-rounded table-justify">
    <thead>
      <tr>
        <th>Playlist name</th>
        <th style="width:150px">Videos</th>
        <th style="width:1%">Action</th>
      </tr>
    </thead>
    <tbody>
      <TMPL_LOOP list>
        <tr>
          <td><a href="<TMPL_VAR site_url>/playlist/<TMPL_VAR pls_code>"><b><TMPL_VAR pls_name></b></a></td>
          <td><a href="/?op=my_playlist_files&amp;pls_id=<TMPL_VAR pls_id>"><TMPL_VAR num> videos</a></td>
          <td class="text-center"><a href="/?op=my_playlists&amp;del_playlist=<TMPL_VAR pls_id>&amp;token=<TMPL_VAR token>" onClick="return confirm('Delete this playlist?')"><img src="<TMPL_VAR static_url>/images2/delete.svg" border=0></a></td>
        </tr>
      </TMPL_LOOP>
    </tbody>
  </table>
</div>
<TMPL_ELSE>
  <div class="alert alert-secondary">No Playlists</div>
</TMPL_IF>
