<script>
  loadT('<TMPL_VAR lng_myreseller_title>');
</script>
<div class="top-bar">
  <div class="row align-items-center g-3">
    <div class="col-auto">
      <TMPL_VAR lng_myreseller_account_balance>: <b class="text-dark">$<TMPL_VAR usr_money></b>
    </div>
  </div>
</div>
<TMPL_IF msg>
  <div class="alert alert-success">
    <TMPL_VAR msg>
  </div>
</TMPL_IF>
<TMPL_IF add_amounts>
  <form name="F0">
    <input type="hidden" name="op" value="payments">
    <input type="hidden" name="reseller" value="1">
    <div class="block">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="row">
            <label class="col-auto col-form-label">
              <TMPL_VAR lng_myreseller_add_money>:
            </label>
            <div class="col-auto">
              <div class="input-group">
                <span class="input-group-text">$</span>
                <select class="form-select" name="amount">
                  <TMPL_LOOP add_amounts>
                    <option value="<TMPL_VAR amount>">
                      <TMPL_VAR amount>
                  </TMPL_LOOP>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">
            <label class="col-auto col-form-label">
              <TMPL_VAR lng_myreseller_via>:
            </label>
            <div class="col-auto">
              <select class="form-select" name="type">
                <TMPL_IF paypal_email>
                  <option value="paypal">PayPal</option>
                </TMPL_IF>
                <TMPL_IF two_checkout_sid>
                  <option value="2co">2Checkout</option>
                </TMPL_IF>
                <TMPL_IF alertpay_email>
                  <option value="alertpay">AlertPay</option>
                </TMPL_IF>
                <TMPL_IF webmoney_merchant_id>
                  <option value="wmz">Webmoney</option>
                </TMPL_IF>
                <TMPL_IF moneybookers_email>
                  <option value="moneybookers">Moneybookers</option>
                </TMPL_IF>
              </select>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <input type="submit" name="pay" value="<TMPL_VAR lng_myreseller_proceed>" class="btn btn-primary">
        </div>
      </div>
    </div>
  </form>
</TMPL_IF>
<div class="table-responsive">
  <table class="table table-rounded table-justify">
    <thead>
      <tr>
        <th>
          <TMPL_VAR lng_myreseller_premium_time>
        </th>
        <th>
          <TMPL_VAR lng_myreseller_your_price>
        </th>
        <th style="width: 1%;"></th>
      </tr>
    </thead>
    <tbody <TMPL_LOOP plans>
      <tr>
        <td>
          <TMPL_VAR time>
        </td>
        <td>$<TMPL_VAR price>
        </td>
        <td><input type="button" class="btn btn-primary" value="<TMPL_VAR lng_myreseller_generate_premium_key>" onClick="window.location='?op=my_reseller&amp;generate=<TMPL_VAR price>'" <TMPL_UNLESS enough> disabled</TMPL_UNLESS>></td>
      </tr>
      </TMPL_LOOP>
    </tbody>
  </table>
</div>
<TMPL_IF keys>
  <div class="table-responsive">
    <table class="table table-rounded table-justify table-fixed">
      <thead>
        <tr>
          <th>
            <TMPL_VAR lng_myreseller_premium_key>
          </th>
          <th>
            <TMPL_VAR lng_myreseller_premium_time>
          </th>
          <th>
            <TMPL_VAR lng_myreseller_status>
          </th>
        </tr>
      </thead>
      <tbody>
        <TMPL_LOOP keys>
          <tr>
            <td>
              <TMPL_VAR key_id>
                <TMPL_VAR key_code>
            </td>
            <td>
              <TMPL_VAR key_time>
            </td>
            <td>
              <TMPL_IF usr_id_activated>
                <TMPL_VAR lng_myreseller_used_on>
                  <TMPL_VAR key_activated>
                    <TMPL_ELSE>PENDING <a href="?op=my_reseller&amp;del=<TMPL_VAR key_id>" onClick="return confirm('<TMPL_VAR lng_myreseller_delete_this_key>')"><img src="<TMPL_VAR site_url>/images2/delete.svg" border=0></a>
              </TMPL_IF>
            </td>
          </tr>
        </TMPL_LOOP>
      </tbody>
    </table>
  </div>
  <TMPL_ELSE>
    <div class="alert alert-secondary">No keys</div>
</TMPL_IF>
<TMPL_VAR paging>
  <div class="block">
    <h5>Reseller API</h5>
    <div class="alert alert-primary py-2">
      <TMPL_VAR site_url>/?op=api_reseller&u=<TMPL_VAR my_login>&p=PASSWORD&t=TIME
    </div>
    <b>PASSWORD</b> = your account password<br>
    <b>TIME</b> = premium time, possible values: <TMPL_LOOP plans>
      <TMPL_VAR time1>
    </TMPL_LOOP>
  </div>
