<script>
	loadT('Country statistics for <TMPL_VAR day>');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="/?op=my_reports" class="btn btn-outline-light">
				<svg class="me-2" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.8998 7L7.7998 2L6.3998 0.600001L-0.000195503 7L6.3998 13.4L7.7998 12L2.8998 7Z" fill="currentColor"></path>
				</svg> Back</a>
		</div>
	</div>
</div>

<div class="col-lg-6 mx-auto">
  <div class="table-responsive mb-4">
  	<table class="table table-rounded table-justify">
  		<thead>
  			<tr>
          <th>Country</th>
          <th><TMPL_VAR lng_myreports_views></th>
          <th>Money</th>
  			</tr>
  		</thead>
  		<tbody>
  			<TMPL_IF countries>
    			<TMPL_LOOP countries>
            <tr>
              <td><TMPL_VAR country></td>
              <td><TMPL_VAR views></td>
              <td>$<TMPL_VAR money></td>
            </tr>
    			</TMPL_LOOP>
  			<TMPL_ELSE>
          <tr>
            <td colspan="3">No data</td>
          </tr>
  			</TMPL_IF>
  		</tbody>
  	</table>
  </div>
</div>
