<div class="text-center">
	<div class="nav nav-fill tab-buttons mb-3 mb-lg-5" role="tablist">
		<a data-bs-toggle="tab" class="nav-link active" href="#Prem_days" aria-selected="true" role="tab">Premium Plans</a>
		<TMPL_IF storage_plans>
		<a data-bs-toggle="tab" class="nav-link" href="#Prem_storage" role="tab" aria-selected="false" tabindex="-1">Extra Storage Plans</a>
		</TMPL_IF>
	</div>
</div>


<div class="tab-content mb-4 mb-lg-5">

<div class="tab-pane fade show active" id="Prem_days">
<div class="row">
	<TMPL_LOOP plans>
					<div class="col-6 col-lg-3 mb-3 mb-md-4">
						<div class="premiumPlan">
							<div class="text-primary-emphasis mb-2 fw-600"><TMPL_VAR days> <TMPL_VAR lng_buywith_days></div>
							<div class="fs-1 fw-600 mb-3 text-dark"><TMPL_VAR amount> <TMPL_VAR currency_code></div>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-pay" onclick="loadPremium(this, '<TMPL_VAR days> days')">
								Pay now
								<svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path d="M12.2 6.99995L6.8 1.59995L8.2 0.199951L16 7.99995L8.2 15.8L6.8 14.4L12.2 8.99995H0V6.99995H12.2Z" fill="currentColor"></path>
								</svg>
							</button>
							<div class="d-none">
								<div class="row g-3">
									<TMPL_LOOP payment_types>
										<div class="col-6">
											<a class="ask_email" href="<TMPL_VAR site_url>/?op=payments&amp;amount=<TMPL_VAR amount>&amp;type=<TMPL_VAR name><TMPL_IF submethod>&submethod=<TMPL_VAR submethod></TMPL_IF>&amp;r=<TMPL_VAR rand>"><img src="<TMPL_VAR site_url>/images2/<TMPL_VAR image>?2" class="w-100" alt="<TMPL_VAR title>"></a>

										</div>
									</TMPL_LOOP>
								</div>
							</div>
						</div>
					</div>
					</TMPL_LOOP>
</div>

</div>
<TMPL_IF storage_plans>
<div class="tab-pane fade" id="Prem_storage">
	<div class="row">
		<TMPL_LOOP storage_plans>
						<div class="col-6 col-lg-3 mb-3 mb-md-4">
							<div class="premiumPlan">
								<div class="text-primary-emphasis mb-2 fw-600"><TMPL_VAR storage> GB / <TMPL_VAR days> <TMPL_VAR lng_buywith_days></div>
								<div class="fs-1 fw-600 mb-3 text-dark"><TMPL_VAR amount> <TMPL_VAR currency_code></div>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-pay" onclick="loadPremium(this, '<TMPL_VAR days> days')">
									Pay now
									<svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
										<path d="M12.2 6.99995L6.8 1.59995L8.2 0.199951L16 7.99995L8.2 15.8L6.8 14.4L12.2 8.99995H0V6.99995H12.2Z" fill="currentColor"></path>
									</svg>
								</button>
								<div class="d-none">
									<div class="row g-3">
										<TMPL_LOOP payment_types>
											<div class="col-6">
												<a class="ask_email" href="/?op=payments&amount=<TMPL_VAR amount>&type=<TMPL_VAR name><TMPL_IF submethod>&submethod=<TMPL_VAR submethod></TMPL_IF>&storage=1&r=<TMPL_VAR rand>"><img src="<TMPL_VAR site_url>/images2/<TMPL_VAR image>?2" class="w-100" alt="<TMPL_VAR title>"></a>
											</div>
										</TMPL_LOOP>
									</div>
								</div>
							</div>
						</div>
						</TMPL_LOOP>
	</div>

</div>
</TMPL_IF>





</div>


<script>
<TMPL_IF ask_email>
$('.ask_email').click(function(event) {
	event.preventDefault();
	var email = prompt('Your account access for <TMPL_VAR site_name> will be sent to this e-mail:','');
	if(email)
		document.location = this.href + '&email=' + escape(email);
	return(false);
});
</TMPL_IF>
</script>


<div class="modal fade" id="modal-pay" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark">Get premium <span id="pay-value"></span></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="pay-code"></div>
				</div>
			</div>
		</div>
	</div>
