<div class="col-xxl-9 mx-auto">
        <div class="block p-0">
          <TMPL_INCLUDE upload_menu.html>
          <div class="p-3 p-lg-5">


            <div class="mb-3 text-center">Use any FTP client with these server details:</div>

            <div class="col-lg-9 col-xl-6 mx-auto mb-3">

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="login" placeholder="" value="<TMPL_VAR my_login>">
                <label for="login">Login</label>
              </div>

              <TMPL_IF usr_ftp_password>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="password" placeholder="" value="<TMPL_VAR usr_ftp_password>">
                <label for="password">Password</label>
              </div>
              </TMPL_IF>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="host" placeholder="" value="<TMPL_VAR srv_ip>">
                <label for="host">Host</label>
              </div>


              <div class="mb-3 text-center"><a class="btn btn-primary" target="_blank" href="ftp://<TMPL_VAR my_login>:<TMPL_VAR usr_ftp_password>@<TMPL_VAR srv_ip>/">Open session</a></div>



            </div>


            <div class="text-center">
              Files will be moved to account <TMPL_VAR m_f_sync_files_after> mins after upload complete.
            </div>






          </div>
        </div>
      </div>
