<TMPL_LOOP files>
	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="<TMPL_VAR download_link>" class="video200">
					<div class="thumb" style="background: url('<TMPL_VAR video_thumb_url>') no-repeat;">
						<span class="videoItem-time">
							<TMPL_VAR file_length2>
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="<TMPL_VAR download_link>">
						<TMPL_VAR file_title_txt>
					</a>
				</div>
				<TMPL_IF file_channel_name>
					<div class="mb-2 fw-500 small text-muted">
						<TMPL_VAR file_channel_name>
					</div>
				</TMPL_IF>
				<div class="videoItem-details">
					<TMPL_UNLESS no_views>
						<span class="me-2">
							<TMPL_VAR file_views>
								<TMPL_VAR lng_videoslist_views>
						</span></TMPL_UNLESS>
					<TMPL_UNLESS no_created><span class="me-2">
							<TMPL_VAR created>
								<TMPL_VAR lng_videoslist_days_ago>
						</span></TMPL_UNLESS>
					<TMPL_IF cat_name>
					<span class="ms-auto">
						<a href="<TMPL_VAR site_url>/category/<TMPL_VAR cat_name2>" class="text-reset"><TMPL_VAR cat_name></a>
					</span>
					</TMPL_IF>
				</div>
			</div>
		</div>
	</div>
</TMPL_LOOP>
