<script>
  loadT('Send mass e-mail to users');
</script>
<div class="block admin-settings p-0">
  <Form method="POST">
    <input type="hidden" name="op" value="admin_mass_email">
    <input type="hidden" name="token" value="<TMPL_VAR token>">
    <table class="table settings-table mb-0 align-middle">
      <tbody>
        <tr>
          <td class="text-lg-end"><label class="col-form-label">Filter:</label></td>
          <td class="border-start">
            <TMPL_IF users>
              <TMPL_VAR users_num> selected users <TMPL_ELSE>
                  <div class="form-switcher">
                    <input type="checkbox" name="premium_only" value="1" id="prem"><label for="prem">Premium Users Only</label>
                  </div>
            </TMPL_IF>
          </td>
        </tr>
        <tr>
          <td class="text-lg-end"><label class="col-form-label">Subject:</label></td>
          <td class="border-start"><input type="text" name="subject"  class="form-control form-control-sm"></td>
        </tr>
        <tr>
          <td class="text-lg-end"><label class="col-form-label">Text message:</label></td>
          <td class="border-start"><Textarea name="body"  class="form-control form-control-sm" rows="7"></Textarea>
            <div class="form-text">
              Use <b>%username%</b> to insert login into message <br>Use <b>%unsubscribe_url%</b> to insert Unsubscription URL into message
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <TMPL_LOOP users>
      <input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
    </TMPL_LOOP>
    <div class="text-center p-3">
      <input type="submit" name="send" value="Send e-mails" class="btn btn-primary submit-btn">
    </div>
  </Form>
</div>
