 <script>
 	loadT('Tags management');
 </script>

 <div class="top-bar">

   <Form>
   <input type="hidden" name="op" value="admin_tags">
   <input type="hidden" name="token" value="<TMPL_VAR token>">

         <div class="row align-items-center g-2">
           <div class="col-auto flex-grow-1">
             <div class="search" style="max-width:300px">
               <input type="text"class="form-control search-field" name="filter_key" value="<TMPL_VAR filter_key>" placeholder="Keyword" data-bs-toggle="dropdown" data-bs-auto-close="outside">
               <div class="dropdown-menu w-100 p-3">
                 <div class="mb-2 row g-3">
                   <label class="col-sm-4 col-form-label-sm">Shorter than</label>
                   <div class="col-sm-8">
                     <div class="input-group input-group-sm">
                       <input type="text" class="form-control" name="filter_short" value="<TMPL_VAR filter_short>" maxlength="3">
                       <span class="input-group-text">chars</span>
                     </div>
                   </div>
                 </div>
                 <div class="mb-2 row g-3">
                   <label class="col-sm-4 col-form-label-sm">Longer than</label>
                   <div class="col-sm-8">
                     <div class="input-group input-group-sm">
                       <input type="text" class="form-control" name="filter_long" value="<TMPL_VAR filter_long>" maxlength="3">
                       <span class="input-group-text">chars</span>
                     </div>
                   </div>
                 </div>


                 <div class="row g-2 pt-3 justify-content-end">
                   <div class="col-auto">
                     <button type="button" class="btn btn-outline-light">Close</button>
                   </div>
                   <div class="col-auto">
                     <input type="submit" value="Filter" class="btn btn-primary">
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>

</Form>

       </div>







       <div class="table-responsive">
         <table class="table table-hover table-rounded align-middle small">
<thead>
  <tr>
      <th style="width: 1%;"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
      <th>Tag</th>
      <th style="width: 1%;">Files</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP list>
  <tr>
      <td><div class="check-radio"><input type="checkbox" name="tag_id" value="<TMPL_VAR tag_id>"></div></td>
      <td><TMPL_VAR tag_value></td>
      <td align=center><a href="?op=admin_files&amp;tag_id=<TMPL_VAR tag_id><TMPL_VAR token_str>"><TMPL_VAR files></a></td>
  </tr>
  </TMPL_LOOP>
</tbody>
</table>
</div>
<TMPL_VAR paging>

<script>
$(document).ready(function(){

    $("#selall").change(function(){
           var sel=this.checked;

           $("input[name=tag_id]:enabled").each(function(){
               $(this).prop('checked',sel);
           });
    });

});
</script>
