<script>
  loadT('User management');
</script>



<form style="margin:0;">
<input type="hidden" name="op" value="admin_users">
<input type="hidden" name="token" value="<TMPL_VAR token>">

  <div class="block admin-settings p-0 ">

  <table class="table settings-table mb-0 align-middle">
    <tbody>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">Search</label></td>
    	<td class="border-start"><input type="text" name="key" value="<TMPL_VAR key>" class="form-control form-control-sm" placeholder="login, email, ip"></td>
    </tr>
  </tbody>
</table>

<div class="collapse" id="fields">
  <table class="table settings-table mb-0 align-middle">
    <tbody>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">Money &gt;</label></td>
    	<td class="border-start">



          <div class="input-group input-group-sm">
                                <span class="input-group-text">$</span>
                                <input type="text" name="money" value="<TMPL_VAR money>" class="form-control form-control-sm">
                              </div>

      </td>
    </tr>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">Premium days &gt;</label></td>
    	<td class="border-start"><input type="text" name="premium_days" value="<TMPL_VAR premium_days>"  class="form-control form-control-sm" style="max-width:60px"></td>
    </tr>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">AffID</label></td>
    	<td class="border-start"><input type="text" name="aff_id" value="<TMPL_VAR aff_id>"  class="form-control form-control-sm" style="max-width:60px"></td>
    </tr>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">Files</label></td>
    	<td class="border-start">


        <div class="g-2 row align-items-center">
                <div class="col-auto">
                  <div class="g-2 row align-items-center">
                    <div class="col-auto">
                      more than
                    </div>
                    <div class="col-auto">
                      <input type="text" name="files_more" value="<TMPL_VAR files_more>" class="form-control form-control-sm" style="max-width:60px">
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="g-2 row align-items-center">
                    <div class="col-auto">
                      less than
                    </div>
                    <div class="col-auto">
                      <input type="text" name="files_less" value="<TMPL_VAR files_less>" class="form-control form-control-sm" style="max-width:60px">
                    </div>
                  </div>
                </div>

              </div>


    	</td>
    </tr>
    <tr>
    	<td class="text-lg-end"><label class="col-form-label">Status</label></td>
    	<td class="border-start">

        <div class="btn-group btn-group-sm">

        <input type="radio" class="btn-check" name="usr_status" value="OK" id="status1"<TMPL_VAR status_OK>>
        <label class="btn btn-outline-primary px-3" for="status1">OK</label>

        <input type="radio" class="btn-check" name="usr_status" value="PENDING" id="status2" <TMPL_VAR status_PENDING>>
        <label class="btn btn-outline-primary px-3" for="status2">PENDING</label>

        <input type="radio" class="btn-check" name="usr_status" value="BANNED" id="fstatus3" <TMPL_VAR status_BANNED>>
        <label class="btn btn-outline-primary px-3" for="status3">BANNED</label>


        </div>


    	</td>
    </tr>
    <tr>
        <td class="text-lg-end"><label class="col-form-label">Per page</label></td>
      	<td class="border-start">


          <div class="btn-group btn-group-sm">

          <input type="radio" class="btn-check" name="per_page" id="pp0" value="<TMPL_VAR items_per_page>"<TMPL_UNLESS per_page> checked</TMPL_UNLESS>>
          <label class="btn btn-outline-primary px-3" for="pp0"><TMPL_VAR items_per_page></label>

          <input type="radio" class="btn-check" name="per_page" id="pp50" value="50" <TMPL_VAR per_50>>
          <label class="btn btn-outline-primary px-3" for="pp50">50</label>

          <input type="radio" class="btn-check" name="per_page" id="pp100" value="100" <TMPL_VAR per_100>>
          <label class="btn btn-outline-primary px-3" for="pp100">100</label>

          <input type="radio" class="btn-check" name="per_page" id="pp500" value="500" <TMPL_VAR per_500>>
          <label class="btn btn-outline-primary px-3" for="pp500">500</label>

          <input type="radio" class="btn-check" name="per_page" id="ppall" value="all" <TMPL_VAR per_all>>
          <label class="btn btn-outline-primary px-3" for="ppall">All</label>


          </div>


        </td>
    </tr>
  </tbody>

  </Table>
</div>

<table class="table settings-table mb-0 align-middle">
  <tbody>
    <tr>
        <td class="text-lg-end border-0"></td>
        <td class="border-0">
<button type="button" data-bs-toggle="collapse" data-bs-target="#fields" class="btn btn-outline-light m-1 collapsed btn-options"></button>

          <input type="submit" value="Search" class="btn btn-primary">

    </td>
    </tr>
  </tbody>
  </table>





</div>
</form>


<TMPL_IF msg><div class="alert alert-success"><TMPL_VAR msg></div></TMPL_IF>

<Form method="POST">
<input type="hidden" name="op" value="admin_users">
<input type="hidden" name="token" value="<TMPL_VAR token>">
  <div class="table-responsive">
  	<table class="table table-rounded table-hover table-justify" id="xusers">
<thead>
  <tr>
  	<th style="width:1%;"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
  	<th title="Sort by Username"><TMPL_VAR s_usr_login>Username<TMPL_VAR s2_usr_login></th>
  	<th title="Sort by E-mail"><TMPL_VAR s_usr_email>Email<TMPL_VAR s2_usr_email></th>
  	<th title="Sort by Number of Files"><TMPL_VAR s_usr_files_used>Files<TMPL_VAR s2_usr_files_used></th>
  	<th title="Sort by Disk Usage"><TMPL_VAR s_usr_disk_used>Disk used<TMPL_VAR s2_usr_disk_used></th>
  	<th><TMPL_VAR s_usr_money>Money<TMPL_VAR s2_usr_money></th>
  	<th title="Sort by Last Visit"><TMPL_VAR s_last_visit>Last visit<TMPL_VAR s2_last_visit></th>
  	<th title="Sort by Creation date"><TMPL_VAR s_usr_created>Registered<TMPL_VAR s2_usr_created></th>
  	<th>IP</th>
  	<th style="width:1%;"></th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP users>
  <tr<TMPL_UNLESS __ODD__> class="hi"</TMPL_UNLESS> align=center>
  	<td><div class="check-radio"><input type="checkbox" name="usr_id" value="<TMPL_VAR usr_id>"></div></td>
  	<td><a href="?op=admin_user_edit&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR usr_login></a>
  	<TMPL_IF premium><img src="<TMPL_VAR site_url>/images2/star.gif" title="Premium"></TMPL_IF>
  	<TMPL_IF status_BANNED> <sup style="color:red">ban</sup></TMPL_IF>
  	</td>
  	<td><small><TMPL_VAR usr_email></small></td>
  	<TMPL_IF status_PENDING>
  	<td colspan=4><a href="?op=admin_users&resend_activation=<TMPL_VAR usr_id><TMPL_VAR token_str>">Re-send activation email</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="?op=admin_users&activate=<TMPL_VAR usr_id><TMPL_VAR token_str>">Activate</a></td>
  	<TMPL_ELSE>
  	<td><a href="?op=admin_files&usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR usr_files_used></a></td>
  	<td><TMPL_VAR disk_used></td>
  	<td><TMPL_VAR usr_money></td>
  	<td><TMPL_VAR last_visit></td>
  	</TMPL_IF>
  	<td><small><TMPL_VAR usr_created></small></td>
  	<td><small><TMPL_VAR usr_ip><TMPL_IF country> [<TMPL_VAR country>]</TMPL_IF></small></td>
  	<td><a href="?op=admin_users&del_id=<TMPL_VAR usr_id><TMPL_VAR token_str>" onClick="return confirm('Delete <TMPL_VAR usr_login> user with his files?')"><img src="<TMPL_VAR site_url>/images2/delete.svg" border=0></a></td>
  </tr>
  </TMPL_LOOP>
</tbody>
<tfoot>
  <tr>
  	<th colspan="10">
      <input type="submit" name="del_users" value="Delete selected users" onClick="return confirm('Delete users with all their files?')" class="btn btn-danger">
      <input type="submit" name="mass_email" value="Send email to selected users" class="btn btn-primary">
      <input type="submit" name="update_files" value="Update files number / size" class="btn btn-primary">
      <input type="button" value="Change status..." class="btn btn-success" onclick="$('#status_id').modal('show');">
  	</th>
  </tr>
</tfoot>
</table>


<div class="modal fade" id="status_id" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content border-0">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Change status..</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <select class="form-select" name="usr_status2">
                <option>OK</option>
                <option>PENDING</option>
                <option>BANNED</option>
                </select>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                <input type="submit" name="change_status" value="Change" class="btn btn-success">
              </div>
            </div>
          </div>
        </div>



</div>
</Form>

<TMPL_VAR paging>
<br>



<div class="block admin-settings p-0">
  <table class="table settings-table mb-0 align-middle">
    <tbody>
      <tr>
        <td>
          <form method="POST">
            <input type="hidden" name="op" value="admin_users">
            <input type="hidden" name="token" value="<TMPL_VAR token>">
            <div class="row align-items-center g-3 pb-3 pb-sm-0">
              <div class="col-sm-auto col-lg-3 text-lg-end">
                <small>
                  Extend all Premium Users subscribtion for
                </small>
              </div>
              <div class="col-auto">
                <input type="text" class="form-control form-control-sm" name="extend_premium_all" style="max-width: 80px;">
              </div>
              <div class="col-auto" style="min-width:70px;">
                <small class="text-muted">
                  days
                </small>
              </div>
              <div class="col-auto">
                <input type="submit" value="Extend" class="btn btn-primary btn-sm">
              </div>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form method="POST">
            <input type="hidden" name="op" value="admin_users">
            <input type="hidden" name="token" value="<TMPL_VAR token>">
            <div class="row align-items-center g-3 pb-3 pb-sm-0">
            <div class="col-sm-auto col-lg-3 text-lg-end">
                <small>
                  Delete PENDING users created more than
                </small>
              </div>
              <div class="col-auto">
                <input type="text" class="form-control form-control-sm" name="del_pending" style="max-width: 80px;">
              </div>
              <div class="col-auto" style="min-width:70px;">
                <small class="text-muted">
                  days ago
                </small>
              </div>
              <div class="col-auto">
                <input type="submit" value="Delete" class="btn btn-secondary btn-sm">
              </div>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="border-bottom-0">
          <form method="POST">
            <input type="hidden" name="op" value="admin_users">
            <input type="hidden" name="token" value="<TMPL_VAR token>">
            <div class="row align-items-center g-3 pb-3 pb-sm-0">
              <div class="col-sm-auto col-lg-3 text-lg-end">
                <small>
                  Delete users not logged more
                </small>
              </div>
              <div class="col-auto">
                <input type="text" class="form-control form-control-sm" name="del_inactive" style="max-width: 80px;">
              </div>
              <div class="col-auto" style="min-width:70px;">
                <small class="text-muted">
                  days
                </small>
              </div>
              <div class="col-auto">
                <input type="submit" value="Delete" class="btn btn-secondary btn-sm">
              </div>
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
    $("#xusers input[name=usr_id]").change( function(){ $(this).parent().parent().toggleClass('hi2'); } );
    $("#selall").change(function(){
           var sel=this.checked;

           $("#xusers input[name=usr_id]:enabled").each(function(){
               $(this).prop('checked',sel);
               if(sel){$(this).parent().parent().addClass('hi2');} else {$(this).parent().parent().removeClass('hi2');}
           });
    });
    $("input[name=usr_id]:enabled").shiftSelectable();
</script>
