<script>
  loadT('Admin Deleted files');
</script>
<TMPL_IF msg>
<div class="alert alert-success"><TMPL_VAR msg></div>
</TMPL_IF>





<form method="POST">
<input type="hidden" name="op" value="admin_files_deleted">
<input type="hidden" name="token" value="<TMPL_VAR token>">


  <div class="block admin-settings p-0 ">

    <table class="table settings-table mb-0 align-middle">
      <tbody>
<tr>
    <td class="text-lg-end"><label class="col-form-label">Title</label></td>
    <td class="border-start"><input type="text" name="file_title" value="<TMPL_VAR file_title>" class="form-control form-control-sm"></td>
</tr>


</tbody>
</table>


<div class="collapse" id="fields">
  <table class="table settings-table mb-0 align-middle">
    <tbody>
      <tr>
          <td class="text-lg-end"><label class="col-form-label">File code</label></td>
          <td class="border-start"><input type="text" name="file_code" value="<TMPL_VAR file_code>" class="form-control form-control-sm"></td>
      </tr>
      <tr>
         <td class="text-lg-end"><label class="col-form-label">Owner User</label></td>
          <td class="border-start">


      <div class="input-group input-group-sm" style="max-width: 150px;">
        <span class="input-group-text">usr_id:</span>
          <input type="text" name="usr_id" value="<TMPL_VAR usr_id>" class="form-control">
      </div>


          </td>
      </tr>
      <tr>
          <td class="text-lg-end"><label class="col-form-label">Deleted By</label></td>
          <td class="border-start">


            <div class="input-group input-group-sm" style="max-width: 150px;">
              <span class="input-group-text">usr_id:</span>
                <input type="text" name="del_by" value="<TMPL_VAR del_by>" class="form-control">
            </div>


          </td>
      </tr>
      <tr>
          <td class="text-lg-end"><label class="col-form-label">Deleted last</label></td>
          <td class="border-start">


            <div class="g-2 row align-items-center">
            				<div class="col-auto">
            					<input type="text" name="last" value="<TMPL_VAR last>" class="form-control form-control-sm" style="max-width:60px">
            				</div>
            				<div class="col-auto">
            					hours
            				</div>

            			</div>


      </tr>
      <tr>
          <td class="text-lg-end"><label class="col-form-label">Per page</label></td>
          <td class="border-start">



                  <div class="g-2 row align-items-center">
                  				<div class="col-auto">
                  					<input type="text" name="per_page" value="<TMPL_VAR per_page>" class="form-control form-control-sm" style="max-width:60px">
                  				</div>
                  				<div class="col-auto">
                  					files
                  				</div>

                  			</div>




      </tr>
    </tbody>
  </table>
</div>


<table class="table settings-table mb-0 align-middle">
  <tbody>
    <tr>
        <td class="text-lg-end border-0"></td>
        <td class="border-0">
<button type="button" data-bs-toggle="collapse" data-bs-target="#fields" class="btn btn-outline-light m-1 collapsed btn-options"></button>

          <input type="submit" value="Show" class="btn btn-primary">

    </td>
    </tr>
  </tbody>
  </table>


</div>




<TMPL_IF deleters_chart>
  <div class="table-responsive mb-3">
		<table class="table table-rounded table-hover table-justify table-fixed">
<thead>
  <tr>
      <th>Deleter</th>
      <th>Files</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP deleters_chart>
  <tr>
      <td><a href="?op=admin_files_deleted&del_by=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR usr_login></a></td>
      <td><TMPL_VAR x></td>
  </tr>
  </TMPL_LOOP>
</tbody>
</Table>
</div>
</TMPL_IF>


<TMPL_IF files>

<div class="table-responsive mb-3">
<table class="table table-rounded table-hover table-justify">
<thead>
<tr>
    <th style="width: 1%;"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
    <th class="text-start">File Title</th>
    <th style="width: 120px;">File code</th>
    <th style="width: 120px;">Del By</th>
    <th style="width: 120px;">Owner</th>
    <th style="width: 120px;">Deleted, ago</th>
</tr>
</thead>
<tbody>
<TMPL_LOOP files>
<tr>
    <td><div class="check-radio"><TMPL_IF restore><input type="checkbox" name="file_id" value="<TMPL_VAR file_id>"></TMPL_IF></div></td>
      <td class="text-start"><TMPL_VAR file_title></td>
    <td style="width: 100px;"><tt><TMPL_VAR file_code></td>
    <td style="width: 100px;"><a href="?op=admin_files_deleted&del_by=<TMPL_VAR del_by><TMPL_VAR token_str>"><TMPL_VAR del_by_login></a></td>
    <td style="width: 100px;"><a href="?op=admin_files_deleted&usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR usr_login></a></td>
    <td style="width: 100px;"><TMPL_VAR ago></td>
</tr>
</TMPL_LOOP>
</tbody>
<tfoot>
<tr>
  <td colspan="6">
    <input type="submit" name="restore" value="Restore selected" class="btn btn-primary me-2">
    <label class="form-switcher"><input type="checkbox" name="new_codes" value="1">Create new codes</label>
  </td>
</tr>
</tfoot>
</Table>
</div>
</form>
<TMPL_ELSE>
<div class="alert alert-secondary">
No files
</div>
</TMPL_IF>

<TMPL_VAR paging>


<script>
$("#selall").change(function(){
           var sel=this.checked;
           $("input[name=file_id]:enabled").each(function(){
                $(this).prop('checked',sel);
                $(this).change();
            });
    });
$("input[name=file_id]:enabled").shiftSelectable();
</script>
