<script>
  loadT('User edit');
</script>

<div class="block admin-settings p-0">
<Form method="POST">
<input type="hidden" name="op" value="admin_user_edit">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
	<table class="table settings-table mb-0 align-middle">
		<tbody>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Username</label></td>
	<td class="border-start"><input type="text" name="usr_login" value="<TMPL_VAR usr_login>" class="form-control form-control-sm"></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">E-mail</label></td>
	<td class="border-start"><input type="text" name="usr_email" value="<TMPL_VAR usr_email>" class="form-control form-control-sm"></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Change password</label></td>
	<td class="border-start"><input type="text" name="usr_password" value=""  class="form-control form-control-sm"></td>
</tr>

<TMPL_IF m_d>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Moderator</label></td>
	<td class="border-start"><div class="form-switcher"><input type="checkbox" name="usr_mod" value="1" id="umod"<TMPL_IF usr_mod> checked</TMPL_IF>></div></td>
</tr>
</TMPL_IF>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Status</label></td>
	<td class="border-start">
		<Select name="usr_status" class="form-select form-select-sm">
		<option value="OK"<TMPL_VAR status_OK>>OK</option>
		<option value="PENDING"<TMPL_VAR status_PENDING>>PENDING</option>
		<option value="BANNED"<TMPL_VAR status_BANNED>>BANNED</option>
		</Select>
	</td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Premium expires</label></td>
	<td class="border-start"><input type="text" name="usr_premium_expire" value="<TMPL_VAR usr_premium_expire>" class="form-control form-control-sm"><TMPL_IF expire_elapsed><div class="form-text">(<TMPL_VAR expire_elapsed>)</div></TMPL_IF></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Money</label></td>
	<td class="border-start">


<div class="input-group input-group-sm">
  <span class="input-group-text">$</span>
  <input type="text" name="usr_money" value="<TMPL_VAR usr_money>" class="form-control form-control-sm" maxlength="8" style="max-width:110px">
</div>







	</td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Storage space</label></td>
	<td class="border-start">





		<div class="row g-3 align-items-center">
			<div class="col-auto"><div class="input-group input-group-sm">

			  <input type="text" name="usr_disk_space" value="<TMPL_VAR usr_disk_space>" class="form-control form-control-sm" maxlength="7" style="max-width:100px">
					<span class="input-group-text">GB</span>
			</div></div>
			<div class="col-auto"><div class="small text-muted">(0 = default)</div></div>
		</div>

	</td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Don't expire</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_no_expire" value="1"<TMPL_IF usr_no_expire> checked</TMPL_IF>>user files</label></td>
</tr>
<tr>
<td class="text-lg-end"><label class="col-form-label">Affiliate ID<</label></td>
	<td class="border-start"><input type="text" name="usr_aff_id" value="<TMPL_VAR usr_aff_id>"  class="form-control form-control-sm" maxlength="5" style="max-width:100px"></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Last logged IP</label></td>
	<td class="border-start"><TMPL_VAR usr_lastip><TMPL_IF last_country> [<TMPL_VAR last_country>]</TMPL_IF></td>
</tr>
<TMPL_IF sessions>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Sessions</label></td>
	<td class="border-start">
		<TMPL_LOOP sessions>
		<div class="mb-2"><TMPL_VAR ip><TMPL_IF country> [<TMPL_VAR last_country>]</TMPL_IF> <small class="text-muted">(<TMPL_VAR dtt>)</small></div>
		</TMPL_LOOP>
		<a href="?op=admin_login_history&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><small>View login history (<TMPL_VAR login_history_num>)</small></a>
	</td>
</tr>
</TMPL_IF>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Allowed IPs</label></td>
	<td class="border-start"><input type="text" name="usr_allowed_ips" value="<TMPL_VAR usr_allowed_ips>" class="form-control form-control-sm"></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">PremiumOnly downloads</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_premium_dl_only" value="1>"<TMPL_IF usr_premium_dl_only> checked</TMPL_IF>>for all user files</label></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Allow PremiumOnly</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_premium_only" value="1>"<TMPL_IF usr_premium_only> checked</TMPL_IF>> flag set for specific videos</label></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">User receive</label></td>
	<td class="border-start">





			<div class="row g-3 align-items-center">
				<div class="col-auto"><div class="input-group input-group-sm">

					<input type="text" name="usr_sales_rate" value="<TMPL_VAR usr_sales_rate>" class="form-control form-control-sm"  maxlength="2" style="max-width:50px">
						<span class="input-group-text">%</span>
				</div></div>
				<div class="col-auto">from Premium sales <small class="text-muted">(0 = default: <TMPL_VAR sale_aff_percent>%)</small></div>
			</div>



		</td>
</tr>
<TMPL_IF m_b>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Website percent</label></td>
	<td class="border-start">



		<div class="row g-3 align-items-center">
			<div class="col-auto"><div class="input-group input-group-sm">

				<input type="text" name="usr_website_rate" value="<TMPL_VAR usr_website_rate>" class="form-control form-control-sm"  maxlength="2" style="max-width:50px">
					<span class="input-group-text">%</span>
			</div></div>
			<div class="col-auto">from Premium sales <small class="text-muted">(0 = default: <TMPL_VAR m_b_rate>%)</small></div>
		</div>



		</td>
</tr>
</TMPL_IF>

<TMPL_IF m_k_manual>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Reseller account</label></td>
	<td class="border-start"><div class="form-switcher"><input type="checkbox" name="usr_reseller" value="1"<TMPL_IF usr_reseller> checked</TMPL_IF>></div></td>
</tr>
</TMPL_IF>

<TMPL_IF usr_watermark_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Watermark mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_watermark" value="1"<TMPL_IF usr_watermark> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_snapshot_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Snapshot mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_snapshot" value="1"<TMPL_IF usr_snapshot> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_gif_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">GIF mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_gif" value="1"<TMPL_IF usr_gif> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_ftp_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">FTP mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_ftp" value="1"<TMPL_IF usr_ftp> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_torrent_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Torrents mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_torrent" value="1" id="wtm"<TMPL_IF usr_torrent> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_domains_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Custom Domains mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_domains" value="1" id="wtm"<TMPL_IF usr_domains> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_api_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">API mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_api" value="1"<TMPL_IF usr_api> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_api_spec_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">API special functions</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_api_spec" value="1"<TMPL_IF usr_api_spec> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_ads_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Ads mod</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_ads" value="1"<TMPL_IF usr_ads> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF m_o>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Monitor user</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_monitor" value="1" <TMPL_IF usr_monitor> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_autoapprove_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Files auto-approve</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_autoapprove" value="1" <TMPL_IF usr_autoapprove> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF uploads_selected_only>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Uploads enabled</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_uploads_on" value="1" <TMPL_IF usr_uploads_on> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_website_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Website owner</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_website" value="1" <TMPL_IF usr_website> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_effects_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Video effects</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_effects" value="1" <TMPL_IF usr_effects> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_clone_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Clone upload</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_clone" value="1" <TMPL_IF usr_clone> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<TMPL_IF usr_streams_mod>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Live Streaming</label></td>
	<td class="border-start"><label class="form-switcher"><input type="checkbox" name="usr_streams" value="1" <TMPL_IF usr_streams> checked</TMPL_IF>></label></td>
</tr>
</TMPL_IF>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Statistics</label></td>
	<td class="border-start"><a href="?op=admin_user_reports&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>">View user stats</a></td>
</tr>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Spy</label></td>
	<td class="border-start"><a href="?op=admin_login_as&amp;usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>">Login as user</a></td>
</tr>
<TMPL_IF extra_fields>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Extra data</label></td>
	<td class="border-start"><TMPL_LOOP extra_fields><TMPL_VAR name>: <TMPL_VAR value><br></TMPL_LOOP></td>
</tr>
</TMPL_IF>
<tr>
	<td class="text-lg-end"><label class="col-form-label">Notes:</label></td>
	<td class="border-start">
	<textarea name="usr_notes" class="form-control form-control-sl" rows="7"><TMPL_VAR usr_notes></textarea><br>
	Special words:<br>
	<b>NOADS</b> - don't show ads for this user's files<br>
	<b>NOEXPIRE</b> - don't expire user's files<br>
	<TMPL_IF m_8><b>DEFAUDIO=eng</b> - default audio track<br></TMPL_IF>
	<b>BLOCKVIDEOS</b> - give error for all user's videos
	</td>
</tr>
</tbody>
</table>

<div class="p-3 text-center">
	<input type="submit" name="save" value="Save user details" class="btn btn-primary submit-btn">
</div>

</Form>
</div>

<TMPL_IF referrals>


		<div class="h5 text-center mb-3 text-dark">User Referrals</div>

		<div class="table-responsive">
			<table class="table table-hover table-rounded align-middle small table-fixed table-justify">

	<thead><tr>
		<th>Date</th>
		<th>Username</th>
		<th>Money</th>
		<th></th>
	</tr></thead>
	<tbody>
		<TMPL_LOOP referrals>
		<TMPL_IF more>
		<tr><td colspan=4><a href="?op=admin_user_referrals&usr_id=<TMPL_VAR usr_aff_id><TMPL_VAR token_str>">More...</a></td></tr>
		<TMPL_ELSE>
		<tr align=center>
			<td><TMPL_VAR usr_created></td>
			<td><a href="?op=admin_user_edit&usr_id=<TMPL_VAR usr_id><TMPL_VAR token_str>"><TMPL_VAR usr_login></a></td>
			<td align=right>$<TMPL_VAR usr_money></td>
			<td><a href="?op=admin_user_edit&usr_id=<TMPL_VAR usr_id1>&ref_del=<TMPL_VAR usr_id><TMPL_VAR token_str>"><img src="<TMPL_VAR site_url>/images2/delete.svg" border=0></a></td>
		</tr>
		</TMPL_IF>
		</TMPL_LOOP>
	</tbody>
	</table>
	</div>

</TMPL_IF>

<TMPL_IF transactions>


		<div class="h5 text-center mb-3 text-dark">Payment Transactions</div>



		<div class="table-responsive">
			<table class="table table-hover table-rounded align-middle small table-fixed table-justify">

	<thead>
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Txn ID</th>
			<th>Verified</th>
		</tr>
	</thead>
	<tbody>
		<TMPL_LOOP transactions>
		<tr>
			<td><a href="?op=admin_ipn_logs&amp;ipn_id=<TMPL_VAR ipn_id><TMPL_VAR token_str>"><TMPL_VAR created></a></td>
			<td><TMPL_VAR amount></td>
			<td><TMPL_VAR txn_id></td>
			<td><TMPL_IF verified><img src="<TMPL_VAR site_url>/images2/done.gif" title="Verified"></TMPL_IF></td>
		</tr>
		</TMPL_LOOP>
	</tbody>
	</table>
	</div>

	</TMPL_IF>


<TMPL_IF payments>



	<div class="h5 text-center mb-3 text-dark">Profit payments sent to user</div>


	<div class="table-responsive">
		<table class="table table-hover table-rounded align-middle small table-fixed table-justify">

	<thead>
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<TMPL_LOOP payments>
		<tr>
			<td><TMPL_VAR created></td>
			<td><TMPL_VAR amount></td>
			<td><TMPL_VAR status></td>
		</tr>
		</TMPL_LOOP>
	</tbody>
	</table>
	</div>

</TMPL_IF>
