<div class="admin-menu nav nav-fill">
  <a class="nav-link" href="/adm?op=admin_files<TMPL_VAR token_str>">Videos</a>
  <a class="nav-link" href="/adm?op=admin_users<TMPL_VAR token_str>">Users</a>
  <a class="nav-link" href="/adm?op=admin_servers<TMPL_VAR token_str>">Servers</a>
  <a class="nav-link" href="/adm?op=admin_enc_list<TMPL_VAR token_str>">Encoding</a>
  <a class="nav-link" href="/adm?op=admin_transfer_list<TMPL_VAR token_str>">Transfers</a>
  <a class="nav-link" href="/adm?op=admin_url_list<TMPL_VAR token_str>">URL Uploads</a>
  <TMPL_IF m_t><a class="nav-link" href="/adm?op=admin_torrents<TMPL_VAR token_str>">Torrents</a></TMPL_IF>
  <TMPL_IF m_f><a class="nav-link" href="/adm?op=admin_ftp<TMPL_VAR token_str>">FTP</a></TMPL_IF>
  <TMPL_IF m_e><a class="nav-link" href="/?op=admin_ticket_list<TMPL_VAR token_str>">Tickets</a></TMPL_IF>
  <a class="nav-link" href="/adm?op=admin_reports<TMPL_VAR token_str>">Abuses</a>
  <a class="nav-link" href="/adm?op=admin_comments<TMPL_VAR token_str>">Comments</a>
  <a class="nav-link" href="/adm?op=admin_payouts<TMPL_VAR token_str>">Payouts</a>
  <a class="nav-link" href="/adm?op=admin_stats<TMPL_VAR token_str>">Stats</a>
  <a class="nav-link" href="/adm?op=admin_settings<TMPL_VAR token_str>">Settings</a>
</div>
