<script>
  loadT('Payouts management');
</script>
<TMPL_IF pay_types>
  <div class="block">
    <div class="row g-3">
      <div class="col-auto">Show only:</div>
      <TMPL_LOOP pay_types><div class="col-auto"><a href="?op=admin_payouts&pay_type=<TMPL_VAR name><TMPL_VAR token_str>"><TMPL_VAR name></a> </div></TMPL_LOOP>
    </div>
  </div>
</TMPL_IF>

<TMPL_IF msg>
  <div class="alert alert-success">
    <TMPL_VAR msg>
  </div>
</TMPL_IF>
<Form method="POST">
<input type="hidden" name="op" value="admin_payouts">
<input type="hidden" name="token" value="<TMPL_VAR token>">
  <div class="table-responsive">
    <table class="table table-hover table-rounded align-middle table-justify small">
<thead>
  <tr>
      <th style="width: 1%;"><div class="check-radio"><input type="checkbox" onClick="if(!this.form.pay_id)return false;for(i=0;i<this.form.pay_id.length;i++){this.form.pay_id[i].checked=this.checked;}if(this.form.pay_id.value)this.form.pay_id.checked=this.checked;"></div></th>
      <th>Username</th>
      <th>Amount</th>
      <th>Email</th>
      <th>Payout system</th>
      <th>Payment Info</th>
      <th>Requested</th>
      <th>Paid / Rejected</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP list>
  <tr>
      <td><div class="check-radio"><input type="checkbox" name="pay_id" value="<TMPL_VAR id>"></div></td>
      <td><TMPL_VAR usr_login></td>
      <td>$<TMPL_VAR amount></td>
      <td><TMPL_VAR usr_email></td>
      <td><TMPL_VAR pay_type></td>
      <td><TMPL_VAR pay_info></td>
      <td><TMPL_VAR created></td>
      <td><TMPL_VAR num_ok> / <TMPL_VAR num_bad></td>
  </tr>
  </TMPL_LOOP>
</tbody>
<tfoot>
  <tr><td colspan="2"></td><td>$<TMPL_VAR amount_sum></td><td colspan=5></td></tr>
  <tr><td colspan="8"><input type="submit" name="mark_paid" value="Mark selected as Paid" class="btn btn-danger"> &nbsp; <input type="submit" name="mark_rejected" value="Mark selected as Rejected" class="btn btn-primary"></td></tr>
  <tr><td colspan="8"><input type="submit" name="export_file" value="Export selected as PayPal Mass Payment file" class="btn btn-outline-light"></td></tr>
</tfoot>
</table>
</div>
</Form>
