<script>
  loadT('Admin Categories');
</script>
<div class="top-bar">
  <div class="row align-items-center g-3">
    <div class="col-auto">
      <input type="button" value="Add category" onclick="window.location='?op=admin_category_form<TMPL_VAR token_str>'" class="btn btn-success">
    </div>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-hover table-rounded align-middle small">
<tbody>
  <thead>
    <tr>
      <th>ID</th>
      <th>Category name</th>
      <th style="width: 1%;">Move</th>
    </tr>
  </thead>
  <TMPL_LOOP list>
  <tr>
      <td style="width: 1%;"><TMPL_VAR pre><TMPL_VAR cat_id></td>
      <td><a href="?op=admin_category_form&cat_id=<TMPL_VAR cat_id><TMPL_VAR token_str>"><TMPL_VAR cat_name></a></td>
        <td class="text-center">
          <TMPL_IF up> <a href="?op=admin_categories&cat1=<TMPL_VAR cat_id>&cat2=<TMPL_VAR up><TMPL_VAR token_str>"><img src="<TMPL_VAR cdn_url>/images2/up.gif" title="Move Up"></a></TMPL_IF>
          <TMPL_IF down> <a href="?op=admin_categories&cat1=<TMPL_VAR cat_id>&cat2=<TMPL_VAR down><TMPL_VAR token_str>"><img src="<TMPL_VAR cdn_url>/images2/down.gif" title="Move Down"></a></TMPL_IF>
        </td>
  </tr>
  </TMPL_LOOP>
</tbody>
</Table>
</div>

<br>
<small>You can use custom image for each category.<br>Upload cat_ID.jpg or cat_ID.png files to /images/ folder.<br>ID = Category ID.</small>
