<a name="comments"></a>
<h3 class="fs-4 text-dark mb-3"><TMPL_VAR lng_comments_list></h3>


<TMPL_LOOP comments>
<div class="block py-3 px-4 mb-4" id="cm<TMPL_VAR cmt_id>">
  <div class="mb-2">
    <a <TMPL_IF adm><TMPL_IF email>href="mailto:<TMPL_VAR email>"</TMPL_IF></TMPL_IF> class="xsmall me-4 d-inline-flex align-items-center">
      <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 2.5C7 3.88071 5.88071 5 4.5 5C3.11929 5 2 3.88071 2 2.5C2 1.11929 3.11929 0 4.5 0C5.88071 0 7 1.11929 7 2.5ZM5 5.99996C2.5 5.69996 0.3 7.49996 0 9.99996H9C8.8 7.89996 7.1 6.19996 5 5.99996Z" fill="currentColor"></path>
      </svg>
      <b><TMPL_VAR cmt_name></b>
    </a>
    <span class="xsmall text-muted me-auto"><TMPL_VAR date></span>
    <TMPL_IF adm>
    <span class="xsmall text-muted"><TMPL_VAR ip></span>
      <a href="<TMPL_VAR site_url>/admin/comments?del_selected=1&cmt_id=<TMPL_VAR cmt_id>&token=<TMPL_VAR token_admin_comments>" class="link-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
          <path d="M6.4 5L11.4 0.1L12.8 1.5L7.8 6.4L12.7 11.4L11.3 12.8L6.4 7.8L1.5 12.8L0 11.3L4.9 6.3L0 1.4L1.4 0L6.4 5Z" fill="currentColor" fill-opacity="0.75"></path>
        </svg>
      </a>
    </TMPL_IF>
  </div>
  <div>
    <TMPL_VAR cmt_text>
  </div>
</div>
</TMPL_LOOP>


<div class="block py-4 px-4 mb-4" id="cmt_form">
  <Form method="POST" action="<TMPL_VAR site_url>/">
  <input type="hidden" name="op" value="comment_add">
  <input type="hidden" name="cmt_type" value="<TMPL_VAR cmt_type>">
  <input type="hidden" name="cmt_ext_id" value="<TMPL_VAR cmt_ext_id>">

    <TMPL_UNLESS my_login>
    <div class="row">
    <div class="col-lg-4 mb-3"><input type="text" class="form-control" name="cmt_name" value="<TMPL_VAR cmt_name>" placeholder="<TMPL_VAR lng_comments_name>*"></div>
    <div class="col-lg-4 mb-3"><input type="text" class="form-control" name="cmt_email" value="<TMPL_VAR cmt_email>" placeholder="E-mail (<TMPL_VAR lng_comments_wont_be_published>)"></div>
    </div>
    </TMPL_UNLESS>


    <div class="mb-3">
      <textarea name="cmt_text"  class="form-control" rows="4" id="cmt_txt" placeholder="<TMPL_VAR lng_comments_message>"></textarea>
    </div>
    <div class="text-center text-lg-start">
      <input type="button" value="<TMPL_VAR lng_comments_leave_reply>" class="btn btn-primary submit-btn" onclick="return submitCommentForm(this.form)">
    </div>
  </form>
</div>

<Script>
function submitCommentForm(f1)
{
    if(f1.cmt_name && f1.cmt_name.value==''){alert("<TMPL_VAR lng_comments_name_required>");return false;}
    if(f1.cmt_email && !f1.cmt_email.value.match(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/) ){alert("<TMPL_VAR lng_comments_invalid_email>");return false;}
    if(f1.cmt_text.value.length<5){alert("<TMPL_VAR lng_comments_too_short_comment>");return false;}
    $.post('<TMPL_VAR site_url>/',$(f1).serialize(),function(code){ eval(code); } );
    return false;
}

$("#showcmt").click( function(){
    $("#showcmt").hide("normal");
    $("#cmt_form").show("normal");
    return false;
});
</Script>
