
<div class="container">
  <section class="page">

<script src="<TMPL_VAR static_url>/js/jquery.cookie.js"></script>
<script>
$.cookie('file_id', '<TMPL_VAR file_id>', { expires: 10 });
<TMPL_IF aff>$.cookie('aff', '<TMPL_VAR aff>', { expires: 10 });</TMPL_IF>
<TMPL_IF referer>$.cookie('ref_url', '<TMPL_VAR referer>', { expires: 10 });</TMPL_IF>
</script>


    <h1 class="text-center text-dark mb-4 fs-4">
      <TMPL_VAR lng_download_watch>
        <TMPL_VAR file_title>
    </h1>
    <TMPL_IF msg>
      <div class="alert alert-danger">
        <TMPL_VAR msg>
      </div>
    </TMPL_IF>
    <Form method="POST" action='/<TMPL_IF m_j_hide>dl<TMPL_ELSE><TMPL_VAR file_code></TMPL_IF>'>
      <input type="hidden" name="op" value="download1">
      <input type="hidden" name="usr_login" value="<TMPL_VAR usr_login>">
      <input type="hidden" name="id" value="<TMPL_VAR file_code>">
      <input type="hidden" name="fname" value="<TMPL_VAR file_name>">
      <input type="hidden" name="referer" value="<TMPL_VAR referer>">
      <input type="hidden" name="hash" value="<TMPL_VAR hash>">
      <TMPL_IF ads>
        <div class="text-center p-3">
          <!-- Banner ADs code end here -->
        </div>
      </TMPL_IF>
      <div class="text-center m-4">
        <button type="submit" name="imhuman" value="<TMPL_VAR lng_download_proceed_to_video>" id="btn_download" class="btn btn-primary download-btn">
          <div class="row align-items-center justify-content-center g-3" data-status="active">
            <div class="col-auto">
              <div class="large fw-600">
                <TMPL_VAR lng_download_proceed_to_video>
              </div>
            </div>
          </div>
          <TMPL_IF countdown>
            <div class="row align-items-center g-3" data-status="disabled">
              <div class="col-auto">
                <span class="spinner-border" aria-hidden="true"></span>
              </div>
              <div class="col-auto">
                <span id="countdown_str" class="large fw-600">
                  <TMPL_VAR lng_download_wait> <span id="cxc">
                      <TMPL_VAR countdown>
                    </span>
                    <TMPL_VAR lng_download_seconds>
                </span>
              </div>
            </div>
          </TMPL_IF>
        </button>
      </div>
      <TMPL_IF ads>
        <div class="text-center p-3">
          <!-- Banner ADs code end here -->
        </div>
      </TMPL_IF>
    </Form>


<Script>
<TMPL_IF countdown>
function countDown()
{
    num = parseInt( $('#cxc').text() )-1;
    if(num<=0)
    {
        $('#btn_download').prop('disabled','');
        $('#countdown_str').css('visibility','hidden');
    }
    else
    {
        $('#cxc').text(num);
        setTimeout("countDown()",1000);
    }
}
if($('#btn_download'))
{
    $('#btn_download').prop('disabled',true);
    setTimeout("countDown()",1000);
}
</TMPL_IF>
</Script>

</section>
</div>
