<script>
	loadT('<TMPL_VAR lng_fileform_title>');
</script>

<TMPL_IF msg>
	<div class="alert alert-success">
		<TMPL_VAR msg>
	</div>
</TMPL_IF>

<div class="block admin-settings p-0">
	<Form method="POST" enctype="multipart/form-data" action="<TMPL_VAR site_url>/">
		<input type="hidden" name="op" value="file_edit">
		<input type="hidden" name="file_code" value="<TMPL_VAR file_code>">
		<table class="table settings-table mb-0 align-middle">
			<TMPL_IF admin>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">File Code</label></td>
					<td class="border-start"><input type="text" name="file_code_new" value="<TMPL_VAR file_code>" class="form-control"></td>
				</tr>
			</TMPL_IF>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_file_title>
					</label></td>
				<td class="border-start"><input type="text" name="file_title" value="<TMPL_VAR file_title>"  class="form-control"></td>
			</tr>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_file_url>
					</label></td>
				<td class="border-start"><a href="<TMPL_VAR file_url>">
						<TMPL_VAR file_url>
					</a></td>
			</tr>
			<TMPL_IF file_src>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_source_url>
						</label></td>
					<td class="border-start">
						<TMPL_VAR file_src>
					</td>
				</tr>
			</TMPL_IF>
			<TMPL_IF file_fld_id>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Folder</label></td>
					<td class="border-start"><a href="?op=my_files&fld_id=<TMPL_VAR file_fld_id>">
							<TMPL_VAR fld_name>
						</a></td>
				</tr>
			</TMPL_IF>
			<TMPL_IF enable_file_descr>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_description>
						</label></td>
					<td class="border-start"><textarea name="file_descr" rows="7" class="form-control"><TMPL_VAR file_descr></textarea></td>
				</tr>
			</TMPL_IF>
			<TMPL_IF encoding>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Encoding queue</label></td>
					<td class="border-start">
						<TMPL_VAR encoding>
					</td>
				</tr>
			</TMPL_IF>
			<TMPL_IF admin>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">srv_id</label></td>
					<td class="border-start">
						<TMPL_VAR srv_id>
							<TMPL_IF srv_id_copy> (copy: <TMPL_VAR srv_id_copy>)</TMPL_IF>
					</td>
				</tr>
				<TMPL_IF transfer>
					<tr>
						<td class="text-lg-end"><label class="col-form-label">Transfer queue</label></td>
						<td class="border-start">queued to transfer to <TMPL_VAR transfer>
						</td>
					</tr>
				</TMPL_IF>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Status</label></td>
					<td class="border-start">
						<select name="file_status" class="form-select">
							<option<TMPL_VAR file_status_OK>>OK</option>
								<option<TMPL_VAR file_status_PENDING>>PENDING</option>
									<option<TMPL_VAR file_status_LOCKED>>LOCKED</option>
						</select>
					</td>
				</tr>
				<TMPL_IF is_dupe>
					<tr>
						<td class="text-lg-end"><label class="col-form-label">File copies</label></td>
						<td class="border-start"><a href="?op=file_edit&file_code=<TMPL_VAR file_real>">
								<TMPL_VAR file_real>
							</a> <small>(This file is a copy)</small></td>
					</tr>
				</TMPL_IF>
				<TMPL_IF proxies>
					<tr>
						<td class="text-lg-end"><label class="col-form-label">Proxies</label></td>
						<td class="border-start">
							<TMPL_LOOP proxies>
								<div>
									<TMPL_VAR host_name>
								</div>
							</TMPL_LOOP><a href="?op=file_edit&file_code=<TMPL_VAR file_code>&reset_proxies=1<TMPL_VAR token_str>" onclick="return confirm('Reset all proxy pairs for this file?')">reset</a>
						</td>
					</tr>
				</TMPL_IF>
			</TMPL_IF>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_public>
					</label></td>
				<td class="border-start"><div class="form-switcher"><input type="checkbox" name="file_public" value="1" <TMPL_IF file_public> checked</TMPL_IF>></div></td>
			</tr>
			<TMPL_IF premium_only_mod>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_premium_only>
						</label></td>
					<td class="border-start"><div class="form-switcher"><input type="checkbox" name="file_premium_only" value="1" <TMPL_IF file_premium_only> checked</TMPL_IF>></div></td>
			</tr>
			</TMPL_IF>
			<tr valign=top>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_uploadform_adult>
					</label></td>
				<td class="border-start"><div class="form-switcher"><input type="checkbox" name="file_adult" value="1" <TMPL_IF file_adult> checked</TMPL_IF>></div></td>
			</tr>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_tags>
					</label></td>
				<td class="border-start">
					<input type="text" name="tags" value=""  class="form-control">

						<TMPL_LOOP tags><div class="btn btn-sm btn-outline-light py-0 px-2 me-2 mt-2">
							<span class="me-2"><TMPL_VAR tag_value></span><a class="d-flex" href="<TMPL_VAR site_url>/?op=file_edit&file_code=<TMPL_VAR file_code>&del_tag=<TMPL_VAR tag_id>" onClick="return confirm('<TMPL_VAR lng_fileform_delete_tag>')"><img style="width: 8px;" src="<TMPL_VAR site_url>/images2/delete.svg"
										border=0></a>
						</div></TMPL_LOOP>

				</td>
			</tr>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_file_name>
					</label></td>
				<td class="border-start"><input type="text" name="file_name" value="<TMPL_VAR file_name>" class="form-control"></td>
			</tr>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_category>
					</label></td>
				<td class="border-start">
					<select name="cat_id" class="form-select">
						<option value="0">None</option>
						<TMPL_LOOP categories>
							<option value="<TMPL_VAR cat_id>" <TMPL_VAR selected>><TMPL_VAR pre>
									<TMPL_VAR cat_name>
						</TMPL_LOOP>
					</select>
				</td>
			</tr>
			<TMPL_IF extra_data>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_extra_info>
						</label></td>
					<td class="border-start">
						<TMPL_LOOP extra_data>
							<TMPL_VAR name>:<input type="text" name="extra_<TMPL_VAR name>" value="<TMPL_VAR value>" class="form-control"><br>
						</TMPL_LOOP>
					</td>
				</tr>
			</TMPL_IF>
			<TMPL_IF srt_on>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_subtitles>
						</label></td>
					<td class="border-start">
						<TMPL_LOOP captions_list>
							<div class="d-inline-flex align-items-center mb-3">
								<a class="me-3" href="<TMPL_VAR url>">
									<TMPL_VAR title> (<TMPL_VAR language>)
								</a>
								<TMPL_IF main>
									<a href="?op=file_edit&file_code=<TMPL_VAR file_code>&del_srt_file=<TMPL_VAR main>" onClick="return confirm('Delete SRT file?')"><img src="<TMPL_VAR site_url>/images2/delete.svg"></a>
									<TMPL_ELSE>
										<a href="?op=file_edit&file_code=<TMPL_VAR file_code>&del_srt=<TMPL_VAR language>" onClick="return confirm('Delete SRT file?')"><img src="<TMPL_VAR site_url>/images2/delete.svg"></a>
								</TMPL_IF>
							</div>
						</TMPL_LOOP>


						<div class="mb-3">

							<label class="form-label"><TMPL_VAR lng_fileform_upload_srt_file></label>
								<select class="form-select" name="srt_lang">
										<TMPL_LOOP srt_langs>
											<option value="<TMPL_VAR value>">
												<TMPL_VAR title>
											</option>
										</TMPL_LOOP>
									</select>

							</div>

						<div class="mb-3"><input type="file" name="srt" size=10 accept=".srt,.vtt" class="form-control"></div>

						<input type="submit" name="save_srt" value="<TMPL_VAR lng_misc_upload>" class="btn btn-primary">
					</td>
				</tr>
			</TMPL_IF>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_video_info>
							<TMPL_IF admin><br><a href="/adm?op=admin_files&reparse_selected=<TMPL_VAR file_id>&return_code=<TMPL_VAR file_code><TMPL_VAR token_str>">reparse</a></TMPL_IF>
					</label></td>
				<td class="border-start">
					<div class="row">
						<TMPL_LOOP versions>
							<div class="col-lg-4">
								<table class="table table-rounded align-middle table-justify">
									<thead><tr>
										<TH colspan="2" class="text-dark">
											<TMPL_VAR vid_title> video
										</TH>
									</tr></thead>
									<tbody>
										<tr>
											<td class="text-muted" style="width: 50%;">Size</td>
											<td>
												<TMPL_VAR vid_width>x<TMPL_VAR vid_height>
											</td>
										</tr>
										<tr>
											<td class="text-muted">Length</td>
											<td>
												<TMPL_VAR vid_length_txt>
											</td>
										</tr>
										<tr>
											<td class="text-muted">Video codec</td>
											<td>
												<TMPL_VAR vid_codec>, <TMPL_VAR vid_bitrate> Kbps
											</td>
										</tr>
										<tr>
											<td class="text-muted">Audio codec</td>
											<td>
												<TMPL_VAR vid_audio_codec>, <TMPL_VAR vid_audio_bitrate> Kbps
											</td>
										</tr>
										<tr>
											<td class="text-muted">Container</td>
											<td>
												<TMPL_VAR vid_container>
											</td>
										</tr>
										<tr>
											<td class="text-muted">Filesize</td>
											<TD title="<TMPL_VAR file_size> bytes">
												<TMPL_VAR file_size_mb>
													<TMPL_IF admin>&nbsp; <a href="/adm?op=admin_files&del_special=<TMPL_VAR vid_mode>&file_id=<TMPL_VAR file_id><TMPL_VAR token_str>" onClick="return confirm('Delete <TMPL_VAR vid_title> version?')"><img src="<TMPL_VAR site_url>/images2/delete.svg"></a></TMPL_IF>
											</td>
										</tr>
									</tbody>
								</Table>
							</div>
						</TMPL_LOOP>
					</div>
					<TMPL_IF admin>
						<TMPL_IF file_spec_txt>
							<br clear=all><a href="#" onclick="$(this).hide();$('#iraw').show();return false;">Source raw info</a>
							<div id="iraw" style="display:none;font-size:11px;background:#fff;border:1px solid #999;">
								<pre><TMPL_VAR file_spec_txt></pre>
							</div>
						</TMPL_IF>
					</TMPL_IF>
				</td>
			</tr>
			<TMPL_IF file_logs>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Logs</label></td>
					<td class="border-start">
						<TMPL_LOOP file_logs>
							<div class="my-1"><TMPL_VAR created>
								<TMPL_VAR event></div>
						</TMPL_LOOP>
					</td>
				</tr>
			</TMPL_IF>
			<tr>
				<td class="text-lg-end"><label class="col-form-label">
						<TMPL_VAR lng_fileform_video_snapshot>
					</label></td>
				<td class="border-start">
					<div class="mb-3">
						<a href="<TMPL_VAR video_img_url>" target=_blank><img src="<TMPL_VAR video_thumb_url>?<TMPL_IF newshot>nocache=1&</TMPL_IF>r=<TMPL_VAR rand>" style="width:200px" class="img-fluid"></a>
						<TMPL_IF newshot><img src="<TMPL_VAR video_img_url>?nocache=1" width=1 height=1></TMPL_IF>
					</div>
					<TMPL_IF m_s_enabled><input class="btn btn-outline-secondary" type="button" onclick="window.location='?op=my_snapshot&file_code=<TMPL_VAR file_code>'" value="<TMPL_VAR lng_fileform_change_snapshot>"></TMPL_IF>
				</td>
			</tr>
			<TMPL_IF img_screenlist>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_fileform_video_screenlist>
						</label></td>
					<td class="border-start">
						<a href="<TMPL_VAR img_screenlist>"><img src="<TMPL_VAR img_screenlist_thumb>?<TMPL_VAR rand>" style="width:400px" class="img-fluid"></a>
					</td>
				</tr>
			</TMPL_IF>
		</Table>
		<div class="p-3 text-center">
			<input type="submit" name="save" value=" <TMPL_VAR lng_misc_save> " class="btn btn-primary submit-btn">
		</div>
	</Form>
</div>

<TMPL_IF m_p_custom_upload>
<div class="block admin-settings p-0">
	<Form method="POST" enctype="multipart/form-data" action="<TMPL_VAR srv_cgi_url>/api.cgi" onSubmit="if(!this.file.value.match(/\.mp4$/i)){alert('Not a .mp4 file!');return false;}">
		<input type="hidden" name="op" value="preview_upload">
		<input type="hidden" name="file_code" value="<TMPL_VAR file_real>">
		<input type="hidden" name="file_id" value="<TMPL_VAR file_id>">
		<input type="hidden" name="disk_id" value="<TMPL_VAR disk_id>">
		<input type="hidden" name="md5" value="<TMPL_VAR md5>">
		<h6 class="p-3 mb-0 bg-light rounded-top">
			<TMPL_VAR lng_fileform_custom_video_preview>
		</h6>
	<table class="table settings-table mb-0 border-top align-middle">
		<tr>
			<td class="text-lg-end border-bottom-0"><label class="col-form-label">
					<TMPL_VAR lng_fileform_choose_mp4_file>
				</label></td>
			<td class="border-start border-bottom-0">
				<div class="row">
					<div class="col-auto">
						<input type="file" name="file" class="form-control">
					</div>
					<div class="col-auto"><input type="submit" value="<TMPL_VAR lng_misc_upload>" class="btn btn-primary"></div>
				</div>
			</td>
		</tr>
	</Table>
	</Form>
</div>
</TMPL_IF>
