<script>
	loadT('<TMPL_VAR lng_myfiles_edit_folder>');
</script>
<div class="block admin-settings p-0">
	<Form method="POST">
		<input type="hidden" name="op" value="fld_edit">
		<input type="hidden" name="fld_id" value="<TMPL_VAR fld_id>">
		<table class="table settings-table mb-0 align-middle">
			<tbody>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">
							<TMPL_VAR lng_myfiles_folder_name>
						</label></td>
					<td class="border-start"><input type="text" name="fld_name" value="<TMPL_VAR fld_name>" class="form-control form-control-sm"></td>
				</tr>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Description</label></td>
					<td class="border-start"><input type="text" name="fld_descr" value="<TMPL_VAR fld_descr>" class="form-control form-control-sm"></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center p-4">
			<input type="submit" name="save" value="<TMPL_VAR lng_misc_save>" class="btn btn-primary submit-btn">
		</div>
	</Form>
</div>
