<div class="container">
	<form method="POST" action="/" name="FL">
	<input type="hidden" name="op" value="login">
	<input type="hidden" name="redirect" value="<TMPL_VAR redirect>">
		<div class="login">
			<div class="mb-4 pb-2 row align-items-center">
				<div class="col-auto mb-2">
					<h1 class="fs-3 text-dark mb-0"><TMPL_VAR lng_main_login></h1>
				</div>
				<div class="col-auto mb-2">
					<a class="small fw-500" href="/?op=registration"><TMPL_VAR lng_login_create_new_account> &rarr;</a>
				</div>
			</div>
			<TMPL_IF msg>
			<div class="alert alert-danger">
				<TMPL_VAR msg>
			</div>
			</TMPL_IF>
			<div class="text-center">
				<div class="form-floating mb-4">
					<input type="text" class="form-control" id="input_name" placeholder="" name="login">
	    <label for="input_name"><TMPL_VAR lng_login_username></label>
				</div>
				<div class="form-floating mb-4">
					<input type="password" class="form-control" id="input_pass" placeholder="" name="password">
	    <label for="input_pass"><TMPL_VAR lng_login_password></label>
				</div>
				<div class="mb-4">
					<a class="link-secondary small fw-500" href="<TMPL_VAR site_url>/?op=forgot_pass"><TMPL_VAR lng_main_forgot_pass></a>
				</div>


				<TMPL_IF recaptcha>
					<div class="mb-4 d-flex justify-content-center">
						<div class="d-inline-block"><TMPL_VAR recaptcha>	</div>
					</div>
				</TMPL_IF>

				<div class="<TMPL_IF external_sites_login>mb-5</TMPL_IF>">
					<button type="submit" class="btn btn-primary submit-btn">
						<TMPL_VAR lng_login_enter>
					</button>
				</div>


			<TMPL_IF external_sites_login>
				<div class="login-social">
				<div class="divider-text text-muted"><span><TMPL_VAR lng_login_enter_via_other_sites></span></div>
					<TMPL_IF facebook_app_id>
					<span class="me-2">
					<a href="<TMPL_VAR site_url>/login?method=facebook"><img src="<TMPL_VAR site_url>/images2/social/fb.svg" style="width: 32px;" alt=""></a>
				</span>
				</TMPL_IF>
				<TMPL_IF vk_app_id>
					<span class="me-2">
					<a href="<TMPL_VAR site_url>/login?method=vk"><img src="<TMPL_VAR site_url>/images2/social/vk.svg" style="width: 32px;" alt=""></a>
				</span>
				</TMPL_IF>
				<TMPL_IF google_app_id>
					<span class="me-2">
					<a href="<TMPL_VAR site_url>/login?method=google"><img src="<TMPL_VAR site_url>/images2/social/go.svg" style="width: 32px;" alt=""></a>
				</span>
				</TMPL_IF>
				<TMPL_IF twit_consumer1>
					<span class="me-2">
					<a href="<TMPL_VAR site_url>/login?method=twitter"><img src="<TMPL_VAR site_url>/images2/social/x.svg" style="width: 32px;" alt=""></a>
				</span>
				</TMPL_IF>
				</div>
				</TMPL_IF>
			</div>
		</div>
	</form>
</div>
<Script>
<TMPL_IF login>
document.FL.password.focus();
<TMPL_ELSE>
document.FL.login.focus();
</TMPL_IF>
</Script>
