<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><TMPL_IF page_title><TMPL_VAR page_title><TMPL_ELSE><TMPL_VAR site_name></TMPL_IF></title>
  <TMPL_IF meta_descr><META NAME="description" CONTENT="<TMPL_VAR meta_descr>"></TMPL_IF>
  <TMPL_IF meta_keywords><META NAME="keywords" CONTENT="<TMPL_VAR meta_keywords>"></TMPL_IF>
  <TMPL_IF video_img_url><meta name="og:image" content="<TMPL_VAR video_img_url>"></TMPL_IF>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#FFF">
  <link rel="apple-touch-icon" href="<TMPL_VAR static_url>/images2/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="<TMPL_VAR static_url>/images2/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="<TMPL_VAR static_url>/images2/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="<TMPL_VAR static_url>/images2/favicon/site.webmanifest" crossorigin="use-credentials">
  <link rel="icon" href="<TMPL_VAR static_url>/images2/favicon/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400..800&display=swap" rel="stylesheet">
  <link href="<TMPL_VAR static_url>/css2/bootstrap.css?<TMPL_VAR cdn_version_num>" rel="stylesheet">

  <!-- FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <!-- Animate.css for animations -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  <!-- WOW.js for scrolling animations -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  <TMPL_IF hide_menu>
  <link href="<TMPL_VAR static_url>/css2/style.css?<TMPL_VAR cdn_version_num>" rel="stylesheet">
  <TMPL_ELSE>
  <link href="<TMPL_VAR static_url>/css2/dashboard.css?<TMPL_VAR cdn_version_num>aс1" rel="stylesheet">
  </TMPL_IF>
  <script src="<TMPL_VAR static_url>/js2/jquery.min.js?<TMPL_VAR cdn_version_num>"></script>
  <script src="<TMPL_VAR static_url>/js2/bootstrap.bundle.min.js?<TMPL_VAR cdn_version_num>"></script>
  <script src="<TMPL_VAR static_url>/js2/app.js?<TMPL_VAR cdn_version_num>aс1"></script>
  <script src="<TMPL_VAR static_url>/js2/xupload.js?<TMPL_VAR cdn_version_num>aс1"></script>
  <meta name="galaksion-domain-verification" content="0bfe036bbacbeb01dfe9022dcca9b64184363d7a62449b677dd42415bc512ec6" />


</head>
<body <TMPL_IF lng_rtl> style="direction:rtl;"</TMPL_IF> class="<TMPL_IF admin>admin</TMPL_IF>">
	<TMPL_IF hide_menu>
  
		<TMPL_IF admin>
			<TMPL_INCLUDE admin_menu.html>
		</TMPL_IF>

		<TMPL_INCLUDE header.html>

	<TMPL_ELSE>
		<TMPL_INCLUDE navpanel.html>
		<TMPL_INCLUDE header_cp.html>
	</TMPL_IF>

	<main>
	<TMPL_IF hide_menu>
		<TMPL_VAR tmpl>
	<TMPL_ELSE>
		<div class="container-fluid px-lg-4 px-xxl-5">

			<TMPL_IF xvs_notifications>
			<script src="<TMPL_VAR static_url>/js/jquery.cookie.js"></script>
			<div id="xvsnot" style="width:70%;margin:10px auto;">
			<TMPL_LOOP xvs_notifications>
			<div style="background:#ffd;padding:5px;margin-top:5px;"><TMPL_VAR date>: <TMPL_VAR text> <TMPL_IF btn><input type="button" value="Dismiss" style="float:right;" onclick="$.cookie('adm_not_id', '<TMPL_VAR id>', { expires: 9999 });$('#xvsnot').hide();"></TMPL_IF></div>
			</TMPL_LOOP>
			</div>
			<br clear=all>
			</TMPL_IF>

			<TMPL_VAR tmpl>
		</div>
	</TMPL_IF>
	</main>

	<TMPL_IF hide_menu>
		<TMPL_INCLUDE footer.html>
	</TMPL_IF>

</body>
</html>
