<script>
  loadT('Featured Videos Administration');
</script>

<div class="table-responsive">
	<table class="table table-hover table-rounded align-middle small table-justify">
    <thead>
      <tr>
        <th colspan="2">File</th>
        <th></th>
      </tr>
    </thead>
		<tbody>
			<TMPL_LOOP list>
				<tr class="vid_block" id="f<TMPL_VAR file_id>">
					<td><a href="<TMPL_VAR download_link>"><img src="<TMPL_VAR video_thumb_url>" alt="" class="img-fluid rounded"></a></td>
					<td class="text-start">
						<b class="text-dark large">
							<TMPL_VAR file_title>
						</b><br>
						<small class="text-muted">
							<TMPL_VAR file_views>
								<TMPL_VAR lng_videoslist_views><br>
									<TMPL_VAR added>
						</small>
					</td>
					<td style="width: 1%;"> <a href="?op=moderator_files_featured&amp;del_id=<TMPL_VAR file_id>"><img src="<TMPL_VAR static_url>/images2/delete.svg"></a></td>
				</tr>
			</TMPL_LOOP>
		</tbody>
	</table>
</div>

<script>
$(".vid_block div a").click(function (e){ e.preventDefault(); $.get(this.href, function (){}, 'script' ); return false; });
</script>
