<script>
	loadT('Ads Management');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="/?op=my_ads_form" class="btn btn-success me-2">
				<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
					<path d="M6 6V0H8V6H14V8H8V14H6V8H0V6H6Z" fill="currentColor"></path>
				</svg> Add Ad</a>
		</div>
	</div>
</div>
<div class="table-responsive mb-4">
	<table class="table table-rounded align-middle">
		<thead>
			<tr>
				<th>Title</th>
				<th>Code</th>
				<th>Weight</th>
				<th style="width: 1%;"></th>
			</tr>
		</thead>
		<TMPL_LOOP ads>
			<tr>
				<td>
					<TMPL_IF ad_disabled><s></TMPL_IF>
					<TMPL_VAR ad_title>
				</td>
				<td><textarea rows="3" class="form-control" readonly><TMPL_VAR ad_code></textarea></td>
				<td>
					<TMPL_VAR ad_weight> (<TMPL_VAR percent>%)
				</td>
				<td class="text-nowrap"><a class="me-2" href="?op=my_ads_form&ad_id=<TMPL_VAR ad_id>"><img src="/images2/edit.svg"></a> <a href="?op=my_ads&delete_id=<TMPL_VAR ad_id>" onClick="return confirm('Delete ad?')"><img src="/images2/delete.svg"></a>
				</td>
			</tr>
		</TMPL_LOOP>
	</table>
</div>
<TMPL_IF ads_adult>
	<div class="table-responsive mb-4">
		<table class="table table-rounded align-middle">
			<tr>
				<th colspan=5>Adult Ads</th>
			</tr>
			<tr>
				<th>Title</th>
				<th>Code</th>
				<th>Weight</th>
				<th></th>
			</tr>
			<TMPL_LOOP ads_adult>
				<tr>
					<td>
						<TMPL_IF ad_disabled><s></TMPL_IF>
						<TMPL_VAR ad_title>
					</td>
					<td><textarea cols=24 rows=3 style="width: 97%" readonly><TMPL_VAR ad_code></textarea></td>
					<td>
						<TMPL_VAR ad_weight> (<TMPL_VAR percent>%)
					</td>
					<td class="text-nowrap"><a class="me-2" href="?op=my_ads_form&ad_id=<TMPL_VAR ad_id>"><img src="/images2/edit.svg"></a> <a href="?op=my_ads&delete_id=<TMPL_VAR ad_id>" onClick="return confirm('Delete ad?')"><img src="/images2/delete.svg"></a>
					</td>
				</tr>
			</TMPL_LOOP>
		</table>
	</div>
</TMPL_IF>
