<TMPL_IF msg>
	<div class="alert alert-success">
		<TMPL_VAR msg>
	</div>
</TMPL_IF>


<TMPL_INCLUDE my_account_stats.html>


<TMPL_IF enabled_prem>
<div class="row">
      <div class="col alert alert-primary d-flex align-items-center mb-3 mb-md-4 alert-dismissible fade show">
        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="min-width:20px">
          <path opacity="0.5" d="M10 20C4.5 20 0 15.5 0 10C0 4.5 4.5 0 10 0C15.5 0 20 4.5 20 10C20 15.5 15.5 20 10 20ZM9 9V15H11V9H9ZM9 5V7H11V5H9Z" fill="#1C63BB"></path>
        </svg>
        <div>
          <span class="me-3">
        <span class="text-body"><TMPL_VAR lng_myaccount_prem_valid_until>:</span>
          <b class="text-primary-emphasis"><TMPL_VAR premium_expire></b>
          </span>
          <a href="<TMPL_VAR site_url>/?op=payments" class="btn btn-success btn-sm rounded-pill px-3"><TMPL_VAR lng_myaccount_extend_account></a>
        </div>
        <!--button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button-->
      </div>

      <TMPL_IF m_k>
        <div class="col-lg-5 mb-3 mb-md-4">
          <div class="block p-4 mb-0 h-100">
            <div class="input-group my-1">
				<input type="text" name="premium_key" class="form-control" placeholder="<TMPL_VAR lng_myaccount_apply_prem_key>">
				<input type="submit" name="premium_key_apply" value="<TMPL_VAR lng_myaccount_apply>" class="btn btn-secondary">
            </div>
          </div>
        </div>
		</TMPL_IF>
</div>
</TMPL_IF> 


<Form method="POST" enctype="multipart/form-data">
<input type="hidden" name="op" value="my_account">
<input type="hidden" name="token" value="<TMPL_VAR token>">



      <div class="row">

		<div class="col-lg-4 mb-3 mb-md-4">
          <div class="block user-url p-4 mb-0 h-100">
            <div class="text-muted mb-1"><TMPL_VAR lng_myaccount_my_public_link>:</div>
            <a href="<TMPL_VAR site_url>/users/<TMPL_VAR usr_login>" class="text-reset fw-500 text-truncate d-block">
              <input type="text" class="copy-source" value="<TMPL_VAR site_url>/users/<TMPL_VAR usr_login>" style="outline: none;">
            </a>
            <button type="button" class="btn icon-btn link-secondary" onclick="copy(this)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                <path d="M4 2V0H14V2H17C17.5 2 18 2.5 18 3V19C18 19.5 17.5 20 17 20H1C0.5 20 0 19.5 0 19V3C0 2.5 0.5 2 1 2H4ZM4 4H2V18H16V4H14V6H4V4ZM6 2V4H12V2H6Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>

        <div class="col-lg-4 mb-3 mb-md-4">
          <div class="block user-url p-4 mb-0 h-100">
            <div class="text-muted mb-1"><TMPL_VAR lng_myaccount_ref_link>:</div>
            <a href="<TMPL_VAR site_url>/reg<TMPL_VAR usr_id>.html" class="text-reset fw-500 text-truncate d-block">
              <input type="text" class="copy-source" value="<TMPL_VAR site_url>/reg<TMPL_VAR usr_id>.html" style="outline: none;">
            </a>
            <button type="button" class="btn icon-btn link-secondary" onclick="copy(this)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                <path d="M4 2V0H14V2H17C17.5 2 18 2.5 18 3V19C18 19.5 17.5 20 17 20H1C0.5 20 0 19.5 0 19V3C0 2.5 0.5 2 1 2H4ZM4 4H2V18H16V4H14V6H4V4ZM6 2V4H12V2H6Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>

		<div class="col-lg-4 mb-3 mb-md-4">
		<div class="block p-4 mb-0 h-100 text-nowrap">
		  <div class="row flex-nowrap">
		    <div class="col-auto flex-grow-1 flex-shrink-1">
		      <div class="text-muted"><TMPL_VAR lng_myaccount_my_referrals></div>
		      <div class="fs-3 fw-bold text-dark"><a href="<TMPL_VAR site_url>/?op=my_referrals" class="text-reset"><TMPL_VAR referrals></a></div>
		      <!--div>
		        <a href="<TMPL_VAR site_url>/?op=my_referrals">
		          More info
		          <svg class="ms-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><path fill="currentColor" d="M5.1 9.5c-.3.3-.3.7 0 1 .3.3.7.3 1 0l3-3c.3-.3.3-.7 0-1l-3-3c-.3-.3-.7-.3-1 0-.3.3-.3.7 0 1L7.6 7 5.1 9.5ZM7 0c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7Z"></path></svg>
		        </a>
		      </div-->
		    </div>
		    <div class="col-auto">
		      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
		        <path fill="#4B92FC" d="M20 0C9 0 0 9 0 20s9 20 20 20 20-9 20-20S31 0 20 0Zm-2.4 11c2.6 0 4.8 2.1 4.8 4.8 0 2.7-2.1 4.8-4.8 4.8-2.6 0-4.8-2.1-4.8-4.8 0-2.7 2.2-4.8 4.8-4.8Zm8.9 19H8.7v-1.2c0-3.9 3.2-7.1 7.1-7.1h3.6c3.9 0 7.1 3.2 7.1 7.1V30Zm2.4-2.4c0-.1-.1-5.1-5.1-6.6l-1.9-.6 1.4-1.4c.9-.9 1.4-2.2 1.3-3.5-.1-1.4-.9-2.7-2.3-3.5l1.3-2c1.9 1.3 3.1 3.2 3.3 5.3.1 1.4-.2 2.9-.9 4.1 4.1 2 5.2 6.1 5.2 8.3h-2.3v-.1Z"></path>
		      </svg>
		    </div>
		  </div>
		</div>
		</div>

      </div>

<div class="row">

	<TMPL_IF m_9_enabled>
	<div class="col mb-3 mb-md-4">
		<div class="block p-4 mb-0 h-100 text-nowrap">
			<div class="row flex-nowrap">
				<div class="col-auto flex-grow-1 flex-shrink-1 fw-bold text-center">
					<a href="/?op=my_ads&<TMPL_VAR token_str>"><TMPL_VAR lng_myaccount_ads_management></a>
				</div>
			</div>
		</div>
	</div>
	</TMPL_IF>

	<TMPL_IF m_y_enabled>
	<div class="col mb-3 mb-md-4">
		<div class="block p-4 mb-0 h-100 text-nowrap">
			<div class="row flex-nowrap">
				<div class="col-auto flex-grow-1 flex-shrink-1 fw-bold text-center">
					<a href="/?op=my_domains&<TMPL_VAR token_str>"><TMPL_VAR lng_myaccount_domains_management></a>
				</div>
			</div>
		</div>
	</div>
	</TMPL_IF>

</div>


      <div class="block p-0">
        <div class="nav block-tabs" id="user-tabs" role="tablist">
          <a data-bs-toggle="tab" class="nav-link active" href="#account_settings" aria-selected="true" role="tab"><TMPL_VAR lng_myaccount_my_details></a>
          <a data-bs-toggle="tab" class="nav-link" href="#security_settings" aria-selected="false" tabindex="-1" role="tab"><TMPL_VAR lng_myaccount_security_settings></a>
          <a data-bs-toggle="tab" class="nav-link" href="#player_settings" aria-selected="false" tabindex="-1" role="tab"><TMPL_VAR lng_myaccount_player_settings></a>
					<TMPL_IF m_6_enabled>
          <a data-bs-toggle="tab" class="nav-link" href="#api_settings" aria-selected="false" tabindex="-1" role="tab">API</a>
					</TMPL_IF>
					<TMPL_IF m_b_enabled>
          <a data-bs-toggle="tab" class="nav-link" href="#webmaster_settings" aria-selected="false" tabindex="-1" role="tab"><TMPL_VAR lng_myaccount_webmaster_account></a>
					</TMPL_IF>
        </div>
        <div class="p-4 p-lg-5">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="account_settings">



									<div class="mb-3 row align-items-center">
                    <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_username></label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control-plaintext" value="<TMPL_VAR my_login>">
                    </div>
                  </div>

	<TMPL_IF login_change>
					<div class="mb-3 row align-items-center">
            <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_username></label>
            <div class="col-lg-6">
            <input type="text" name="usr_login" class="form-control" value="<TMPL_VAR usr_login>">
            </div>
          </div>
</TMPL_IF>


                  <div class="mb-3 row align-items-center">
                    <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_email></label>
                    <div class="col-lg-6">
                      <div class="row align-items-center g-3">
                      	<div class="col-auto flex-grow-1 flex-shrink-1">
                      		<input type="text" name="usr_login" class="form-control" value="<TMPL_VAR usr_email>">
                      	</div>
												<TMPL_UNLESS usr_security_lock>
                      	<div class="col-auto">
													<a href="/?op=my_email" class="btn btn-link"><TMPL_VAR lng_myaccount_change_email></a>
                      	</div>
												</TMPL_UNLESS>
                      </div>
                    </div>
                  </div>




									<TMPL_UNLESS usr_security_lock>
                  <div class="mb-3 row align-items-center">
                    <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_password></label>
                    <div class="col-lg-6">
                      <div class="row align-items-center g-3">
												<div class="col-auto flex-grow-1 flex-shrink-1">
													<TMPL_VAR lng_myaccount_password_last_changed>: <TMPL_VAR usr_password_changed>
												</div>
												<div class="col-auto">
													<a href="/?op=my_password" class="btn btn-link"><TMPL_VAR lng_myaccount_change_password></a>
												</div>
                      </div>
                    </div>
                  </div>
									</TMPL_UNLESS>


									<TMPL_LOOP extra_fields>
									<div class="mb-3 row align-items-center">
										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR name></label>
										<div class="col-lg-6">
											<input type="text" class="form-control" name="<TMPL_VAR field>" value="<TMPL_VAR value>">
										</div>
									</div>
									</TMPL_LOOP>



									<div class="mb-3 row align-items-center">
										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_payment_info></label>
										<div class="col-lg-6">
											<div class="row align-items-center g-3">
												<div class="col-auto flex-grow-1 flex-shrink-1">
													<input type="text" name="usr_pay_email" class="form-control" value="<TMPL_VAR usr_pay_email>"<TMPL_IF usr_security_lock> disabled</TMPL_IF>>
												</div>
												<div class="col-auto">
													<select name="usr_pay_type" class="form-select"  <TMPL_IF usr_security_lock> disabled</TMPL_IF>>
														<TMPL_LOOP payout_list>
														<option value="<TMPL_VAR name>"<TMPL_IF checked> selected</TMPL_IF>><TMPL_VAR name></option>
														</TMPL_LOOP>
													</select>
												</div>
                      </div>
										</div>
									</div>





                  <div class="mb-3 row align-items-center">
                    <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_channel_name>:</label>
                    <div class="col-lg-6">
                    <input type="text" name="usr_channel_name" value="<TMPL_VAR usr_channel_name>" class="form-control">
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_channel_logo>:</label>
                    <div class="col-lg-6">
											<TMPL_IF user_avatar_url>
												<div class="row g-3 align-items-center mb-3">
													<div class="col-auto">
														<img src="<TMPL_VAR user_avatar_url>" class="channel-avatar" alt="">
													</div>
													<div class="col-auto">
														<a class="btn icon-btn" href="/?op=my_account&avatar_delete=1<TMPL_VAR token_str>"><img src="/images2/delete.svg" onClick="return confirm('Delete avatar?')"></a>
													</div>
												</div>
											</TMPL_IF>
                      <input type="file" name="user_avatar" accept="image/*" class="form-control"<TMPL_IF usr_security_lock> disabled</TMPL_IF>>
                    </div>
                  </div>


									<div class="text-center pt-3">
										<input type="submit" name="settings_save" value="<TMPL_VAR lng_myaccount_save_settings>" class="btn btn-primary submit-btn">
				          </div>

                </div>



								<div class="tab-pane fade" id="security_settings">





            <div class="mb-3 row align-items-center">
              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Security lock:</label>
              <div class="col-lg-6">
                <TMPL_IF usr_security_lock>
                  <div class="form-switcher align-items-center">
                    <input type="checkbox" id="switch-security" checked onchange="window.location='/?op=my_account&amp;disable_lock=1<TMPL_VAR token_str>';">
                  </div>
                  <TMPL_ELSE>
                    <div class="form-switcher align-items-center">
                      <input type="checkbox" id="switch-security" onchange="window.location='/?op=my_account&amp;enable_lock=1<TMPL_VAR token_str>';">
                    </div>
                </TMPL_IF>
              </div>
            </div>


						<TMPL_IF usr_premium_only>
            <div class="mb-3 row align-items-center">
              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">
                <TMPL_VAR lng_myaccount_auto_set_po>:
              </label>
              <div class="col-lg-6">
								<div class="form-switcher">
									<input type="checkbox" name="files_auto_po" value="1"<TMPL_IF files_auto_po> checked</TMPL_IF> />
								</div>
              </div>
            </div>
						</TMPL_IF>



            <div class="mb-3 row">
              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">
                <TMPL_VAR lng_myaccount_allowed_ips>:
              </label>
              <div class="col-lg-6">
                <input type="text" name="usr_allowed_ips" class="form-control" value="<TMPL_VAR usr_allowed_ips>">
                <div class="form-text">
                  <TMPL_VAR lng_myaccount_allowed_ips_txt>
                    <TMPL_VAR current_ip>
                </div>
              </div>
            </div>




            <div class="mb-3 row">
              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">
                <TMPL_VAR lng_myaccount_on_login>:
              </label>
              <div class="col-lg-6">
                <div class="mb-3"><label class="form-switcher"><input type="checkbox" name="usr_logout_sessions" value="1" <TMPL_IF usr_logout_sessions> checked</TMPL_IF>><TMPL_VAR lng_myaccount_logout_sessions></label></div>
                <div><label class="form-switcher"><input type="checkbox" name="usr_email_newip" value="1" <TMPL_IF usr_email_newip> checked</TMPL_IF>><TMPL_VAR lng_myaccount_email_new_ip></label></div>
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Special:</label>
              <div class="col-lg-6">
                <label class="form-switcher">
                  <input class="me-2" type="checkbox" name="usr_no_file_delete" value="1" <TMPL_IF usr_no_file_delete> checked</TMPL_IF>
                  <TMPL_IF usr_security_lock> disabled</TMPL_IF>>Disable delete function from my account
                </label>
              </div>
            </div>


						<div class="text-center pt-3">
							<input type="submit" name="settings_save" value="<TMPL_VAR lng_myaccount_save_settings>" class="btn btn-primary submit-btn">
	          </div>

							  </div>


								<div class="tab-pane fade" id="player_settings">


									<div class="mb-3 row">
									              <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">
									                <TMPL_VAR lng_myaccount_allowed_domains>:
									              </label>
									              <div class="col-lg-6">
									                <input type="text" name="embed_domain_allowed" class="form-control" value="<TMPL_VAR embed_domain_allowed>">
									                <div class="form-text">
									                  <TMPL_VAR lng_myaccount_allowed_domains_txt>
									                </div>
									              </div>
									            </div>



									<div class="mb-3 row">
										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Banned countries:</label>
	<div class="col-lg-6">
		<input type="text" name="banned_countries" class="form-control" value="<TMPL_VAR banned_countries>" aria-describedby="banc">
		<div class="form-text" id="banc">e.g. US|CA|FR</div>
	</div>
									            </div>


									<div class="mb-3 row">
										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Banned IPs:</label>
              <div class="col-lg-6">
                <input type="text" name="banned_ips" class="form-control" value="<TMPL_VAR banned_ips>" aria-describedby="banip">
                <div class="form-text" id="banip">e.g. 1.1.1.1, 2.3.4.*</div>
              </div>
									            </div>


															<TMPL_IF alt_ads_mode>
															<div class="mb-3 row align-items-center">
															<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Ads mode:</label>
															<div class="col-lg-6">

																<select class="form-select" name="usr_ads_mode">
																	<TMPL_LOOP ads_modes>
																	<option value="<TMPL_VAR mode>" <TMPL_IF checked> selected</TMPL_IF>><TMPL_VAR title></option>
																	</TMPL_LOOP>
																</select>

															</div>
														</div>
											</TMPL_IF>



									<div class="mb-3 row align-items-center">
										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Block direct access:</label>
              <div class="col-lg-6">
                <label class="form-switcher"><input class="me-2" type="checkbox" name="usr_embed_access_only" value="1" <TMPL_IF usr_embed_access_only> checked</TMPL_IF>> Allow embeds only</label>
              </div>
									            </div>


									<div class="mb-3 row align-items-center">

										<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Video title in Embeds:</label>
              <div class="col-lg-6">
                <label class="form-switcher"><input class="me-2" type="checkbox" name="usr_embed_title" value="1" <TMPL_IF usr_embed_title> checked</TMPL_IF>> Show</label>
              </div>

								</div>



								<TMPL_IF force_disable_adb_2>
              	<div class="mb-3 row align-items-center">
                <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Force to disable ADB:</label>
                <div class="col-lg-6">
                  <label class="form-switcher"><input class="me-2" type="checkbox" name="usr_disable_adb" value="1" <TMPL_IF usr_disable_adb> checked
            </TMPL_IF>></label>
          </div>
        </div>
        </TMPL_IF>




				<TMPL_IF allow_no_encoding>
				          <div class="mb-3 row align-items-center">
				            <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Disable video convertion:</label>
				            <div class="col-lg-6">
				              <label class="form-switcher"><input class="me-2" type="checkbox" name="usr_no_encoding" value="1" <TMPL_IF usr_no_encoding> checked
				        </TMPL_IF>> Enabled</label> <small class="text-muted">(video should be H264+AAC codecs)</small>
				      </div>
				    </div>
				</TMPL_IF>





				<TMPL_IF m_v_enabled>
			       <div class="mb-3 row align-items-center">
			         <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">
			           <TMPL_VAR lng_myaccount_watermark>:
			         </label>
			         <div class="col-lg-6">
			           <a class="fw-500" href="<TMPL_VAR site_url>/?op=my_watermark">
			             <TMPL_VAR lng_myaccount_edit_watermark>
			           </a>
			         </div>
			       </div>
			     </TMPL_IF>




					 <TMPL_IF multi_audio_list>
				       <div class="mb-3 row align-items-center">
				         <label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">Default audio language:</label>
				         <div class="col-lg-6 ">
				           <select class="form-select" name="usr_default_audio_lang">
				             <option value="">-</option>
				             <TMPL_LOOP multi_audio_list>
				               <option value="<TMPL_VAR value>" <TMPL_IF selected> selected
				     </TMPL_IF>><TMPL_VAR name>
				       </option>
				       </TMPL_LOOP>
				       </select>
				       </div>
				       </div>
				       </TMPL_IF>


							 <div class="text-center pt-3">
							 	<input type="submit" name="settings_save" value="<TMPL_VAR lng_myaccount_save_settings>" class="btn btn-primary submit-btn">
							 </div>

									</div>


									<TMPL_IF m_6_enabled>
									<div class="tab-pane fade" id="api_settings">



										<TMPL_IF usr_api_key>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4">API Key:</label>
												<div class="col-lg-7">
													<div class="mb-4">
															<input type="text" readonly class="form-control-plaintext" value="<TMPL_VAR site_url>/api/account/info?key=<TMPL_VAR usr_id><TMPL_VAR usr_api_key>">
													</div>
													<a class="btn btn-success me-2" href="/?op=my_account&generate_api_key=1&<TMPL_VAR token_str>" onclick="return confirm('Regenerate api key?')">change key</a>
													<a class="btn btn-outline-light" href="/api.html" target=_blank>API reference</a>

												</div>
											</div>

																				<TMPL_ELSE>
																					<div class="text-center m-4">
																						<a class="btn btn-outline-success large px-5" href="?op=my_account&generate_api_key=1&<TMPL_VAR token_str>">Generate API Key</a>
																					</div>
																				</TMPL_IF>





									</div>
									</TMPL_IF>


<TMPL_IF m_b_enabled>
<div class="tab-pane fade" id="webmaster_settings">

<div class="text-center mb-4">
	<div class="mb-2">
		<TMPL_VAR lng_myaccount_confirm_site1> <b><TMPL_VAR site_url>/<TMPL_VAR site_key>.txt</b> <TMPL_VAR lng_myaccount_confirm_site2> <b><TMPL_VAR usr_id></b>
	</div>
	<TMPL_VAR lng_myaccount_confirm_site_meta>: <b>&lt;meta content="<TMPL_VAR usr_id>" name="<TMPL_VAR site_key>"&gt;</b>
</div>




<div class="mb-3 row align-items-center">
	<label class="col-lg-4 col-form-label text-lg-end text-muted pe-lg-4"><TMPL_VAR lng_myaccount_site_url>:</label>
	<div class="col-lg-6">
		<div class="row align-items-center g-3">
			<div class="col-auto flex-grow-1 flex-shrink-1">
				 <input type="text" name="site_add" placeholder="http://site.com" class="form-control">
			</div>
			<div class="col-auto">
					<input type="submit" name="site_validate" value=" <TMPL_VAR lng_myaccount_add> " class="btn btn-success">
			</div>
		</div>
	</div>
</div>


	<TMPL_IF websites>
	<table class="table table-rounded align-middle">

		<thead>
			<tr><th colspan="3"><TMPL_VAR lng_myaccount_approved_sites></th></tr>
		</thead>
<tbody>


		<TMPL_LOOP websites>
		<tr>
			<td width="80%"><TMPL_VAR domain></td>
			<td>$<TMPL_VAR money_profit></td>
			<td><a href="?op=my_account&amp;site_del=<TMPL_VAR domain>" onClick="return confirm('<TMPL_VAR lng_myaccount_delete_domain>')"><img src="<TMPL_VAR site_url>/images2/delete.svg" alt=""></a></td>
		</tr>
		</TMPL_LOOP>


</tbody>
<tfoot>
	<tr>
		<td colspan="3" class="text-end"><input type="button" value="<TMPL_VAR lng_myaccount_reset_profit_counter>" class="btn btn-danger" onclick="if(!confirm('<TMPL_VAR lng_myaccount_reset_profit_counters_confirm>'))return false;window.location='?op=my_account&amp;site_reset=1';"></td>
	</tr>
</tfoot>
	</table>

		</TMPL_IF>

</div>
</TMPL_IF>


              </div>
            </div>
          </div>

        </div>
      </div>

</Form>




  <script type="text/javascript">
           function showTab() {
            const tabEl = document.querySelectorAll('#user-tabs a[data-bs-toggle="tab"]');
            tabEl.forEach((item, i) => {
              item.addEventListener('shown.bs.tab', event => {
                localStorage.setItem('activeTab', event.target.hash);
              });
            });
            const activeTab = localStorage.getItem('activeTab');
            if(activeTab) {
              const tab = document.querySelector('a[href="'+activeTab+'"]');
              const bsTab = new bootstrap.Tab(tab);
              bsTab.show()
            }
         }
         showTab();
     </script>
