<script>
	loadT('DMCA Reported Files');
</script>
<TMPL_IF files>
<div class="table-responsive">
  <table class="table table-rounded table-justify">
    <thead>
      <tr>
				<th>File</th>
				<th>Reported, ago</th>
				<th>Will be deleted in</th>
				<th>Code</th>
				<th>Set new code</th>
      </tr>
    </thead>
    <tbody>
			<TMPL_LOOP files>
			<tr>
				<td><a href="<TMPL_VAR dl_link>"><TMPL_VAR file_title></a></td>
				<td><TMPL_VAR ago></td>
				<td><TMPL_VAR left></td>
				<td><tt><TMPL_VAR file_code></tt></td>
				<td id="td<TMPL_VAR file_code>"><button class="btn btn-success btn-sm" onclick="$.get('?op=my_files_dmca&new_code=<TMPL_VAR file_code><TMPL_VAR token_str>', function( data ) {$('#td<TMPL_VAR file_code>').html( data ); });">new</button></td>
			</tr>
			</TMPL_LOOP>
    </tbody>
  </table>
</div>
<TMPL_ELSE>
  <div class="alert alert-secondary">No files</div>
</TMPL_IF>



<br/>
<br/>
