<script>
document.write('<style>.tabber{display:none;}<\/style>');
var tab_cookie='tab_export';

var site = '<TMPL_VAR site_url>/';
var list = [<TMPL_LOOP list>{code:"<TMPL_VAR file_code>",
title:"<TMPL_VAR file_title>",
download_link:"<TMPL_VAR download_link>",
size:"<TMPL_VAR file_size>",
thumb:"<TMPL_VAR video_thumb_url>",
embed:'<TMPL_VAR embed_code>',
screenlist:"<TMPL_VAR img_screenlist_thumb>",
screenlist_full:"<TMPL_VAR img_screenlist>",
info:"<TMPL_VAR vid_width>x<TMPL_VAR vid_height>, <TMPL_VAR vid_length_txt>"}<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>];

function gen()
{
  var f = document.F1;
  var code_txt='', code_bb='', code_html='', code_embed='';

  for (var i in list)
  {
  	// Direct links
   code = list[i].download_link;
   if($('#txt_title').prop('checked')) code += "\t"+list[i].title;
   if($('#txt_info').prop('checked')) code += "\t"+list[i].info;
   code_txt += code+"\n";


   // BB Code
   code = '[URL='+list[i].download_link+']';
   if($('#bb_thumb').prop('checked')) code += '[IMG]'+list[i].thumb+'[/IMG]';
   code += "\n"+list[i].title;
   code += "[/URL]";
   if($('#bb_screen').prop('checked')) code += "\n[IMG]"+list[i].screenlist+'[/IMG]';
   if($('#bb_info').prop('checked')) code += "\n["+list[i].info+']';
   code_bb += code+"\n\n";

   //HTML Code
   code = '<a href="'+list[i].download_link+'" target=_blank>';
   if($('#html_thumb').prop('checked')) code += '<img src="'+list[i].thumb+'">';
   code += "<br>\n"+list[i].title;
   code += '</a>';
   if($('#html_screen').prop('checked')) code += "<br>\n<a href='"+list[i].screenlist_full+"' target=_blank><img src='"+list[i].screenlist+"'></a>";
   if($('#html_info').prop('checked')) code += "<br>\n["+list[i].info+']';
   code_html += code+"<br><br>\n\n";

   code_embed += list[i].embed + "\n\n";
  }

  $('#code_txt').val(code_txt);
  $('#code_bb').val(code_bb);
  $('#code_html').val(code_html);
  $('#code_embed').val(code_embed);
}

$(function() {
	gen();
});
</script>




<script>
	loadT('Files Export');
</script>

<div class="col-xl-9 mx-auto">

<div class="block p-0">

  <div class="nav block-tabs" role="tablist">
    <a href="#tab_down_link" data-bs-toggle="tab" class="nav-link active">
      <TMPL_VAR lng_myfiles_download_links>
    </a>
    <a href="#tab_code_bb" data-bs-toggle="tab" class="nav-link">
      <TMPL_VAR lng_myfiles_forum_bb_code>
    </a>
    <a href="#tab_html_info" data-bs-toggle="tab" class="nav-link">
      <TMPL_VAR lng_myfiles_html_code>
    </a>
    <a href="#tab_code_embed" data-bs-toggle="tab" class="nav-link"><TMPL_VAR lng_download_embed_code></a>
  </div>
  <div class="px-4 py-3">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab_down_link">
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="txt_title" onchange="gen()">Title </label>
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="txt_info" onchange="gen()">Video info </label>
        <textarea class="form-control" rows=7 onclick="this.select();" id="code_txt"></textarea>
      </div>
      <div class="tab-pane fade" id="tab_code_bb">
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="bb_thumb" onchange="gen()">Thumbnail </label>
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="bb_screen" onchange="gen()">Screenlist info </label>
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="bb_info" onchange="gen()">Info info </label>
        <textarea class="form-control" rows=7 onclick="this.select();" id="code_bb"></textarea>
      </div>
      <div class="tab-pane fade" id="tab_html_info">
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="html_thumb" onchange="gen()">Thumbnail </label>
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="html_screen" onchange="gen()">Screenlist info </label>
        <label class="form-check-radio d-inline-flex mb-2 me-3">
          <input type="checkbox" class="me-2" id="html_info" onchange="gen()">Info info </label>
        <textarea class="form-control" rows=7 onclick="this.select();" id="code_html"></textarea>
      </div>
      <div class="tab-pane fade" id="tab_code_embed">
        <label class="form-check-radio d-inline-flex mb-2 me-3"><input type="checkbox" class="me-2" id="embed_title" onchange="gen()">Title</label>
        <textarea class="form-control" rows=7 onclick="this.select();" id="code_embed"></textarea>
      </div>
    </div>
  </div>
</div>

</div>
