<script>
	loadT('<TMPL_VAR pls_name>');
</script>

<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="?op=my_playlists" class="btn btn-outline-light">Back</a>
		</div>
	</div>
</div>




<form method="post">
<input type="hidden" name="op" value="my_playlist_files">
<input type="hidden" name="pls_id" value="<TMPL_VAR pls_id>">
  <div class="table-responsive">
    <table class="table table-rounded align-middle table-justify">
<thead>
  <tr>
      <th style="width: 1%;" class="nojs"><div class="check-radio"><input type="checkbox" id="selall"></div></th>
      <th class="text-start" colspan="2">Video</th>
      <th style="width: 1%;">&nbsp;</th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP files>
      <tr <TMPL_UNLESS __ODD__> class="hi"</TMPL_UNLESS>>
      <td width="100px">
          <div class="check-radio"><input type="checkbox" name="file_id" value="<TMPL_VAR file_id>"></div>
      </td>
      <td><img src="<TMPL_VAR video_thumb_url>" alt="" class="img-fluid rounded"></td>
      <td class="text-start text-muted">
          <a href="<TMPL_VAR download_link>"><b><TMPL_VAR file_title_txt></b></a>
          <TMPL_IF file_descr><br><small><TMPL_VAR file_descr></small></TMPL_IF>
          <br>Length: <TMPL_VAR vid_length_txt>

          <TMPL_IF file_views><br><TMPL_VAR file_views> views</TMPL_IF>

          <TMPL_IF comments><br><TMPL_VAR comments> comments</TMPL_IF>
      <td><a href="?op=my_playlist_files&amp;remove=1&amp;file_id=<TMPL_VAR file_id>&amp;pls_id=<TMPL_VAR pls_id>&amp;token=<TMPL_VAR token>" onClick="return confirm('<TMPL_VAR lng_myfiles_delete_file>')"><img src="<TMPL_VAR static_url>/images2/delete.svg"></a></td>
      </tr>
  </TMPL_LOOP>
</tbody>
<tfoot>
  <tr>
      <th colspan=4 class="left"><input class="btn btn-danger" type="submit" name="remove" value="Remove from Playlist"></th>
  </tr>
</tfoot>
</table>
</div>
</form>

<script>
$("#selall").change(function(){
           var sel=this.checked;
           $("input[name=file_id]:enabled").click();
    });
</script>
