<script>
	loadT('<TMPL_VAR lng_myreferrals_title>');
</script>
<div class="col-lg-6 mx-auto">
  <div class="table-responsive">
    <table class="table table-rounded table-justify table-fixed">
      <thead>
        <tr>
          <th><TMPL_VAR lng_myreferrals_username></th>
          <th><TMPL_VAR lng_myreferrals_registered></th>
          <th><TMPL_VAR lng_myreferrals_balance></th>
        </tr>
      </thead>
      <tbody>
        <TMPL_IF list>
        <TMPL_LOOP list>
          <tr>
            <td><TMPL_VAR usr_login> <TMPL_IF prem><img src="<TMPL_VAR site_url>/images2/star.gif" title="Premium"></TMPL_IF></td>
            <td><TMPL_VAR usr_created></td>
            <td>$<TMPL_VAR usr_money></td>
          </tr>
        </TMPL_LOOP>
        <TMPL_ELSE>
        <tr>
          <td colspan="3" class="text-center">No referrals</td>
        </tr>
        </TMPL_IF>
      </tbody>

    </table>
  </div>
</div>
<TMPL_VAR paging>
