<script>
	loadT('My Streams');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="/?op=stream_form" class="btn btn-success me-2">
				<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
					<path d="M6 6V0H8V6H14V8H8V14H6V8H0V6H6Z" fill="currentColor"></path>
				</svg> New stream</a>
		</div>
	</div>
</div>

<TMPL_IF msg>
  <div class="alert alert-success"><TMPL_VAR msg></div>
</TMPL_IF>



<TMPL_IF list>
  <div class="table-responsive mb-4">
  	<table class="table table-rounded table-justify">
<thead>
  <TR>
      <th>Title</th>
      <th width="110">Live</th>
      <th width="2%"></th>
  </TR>
</thead>
<tbody>
  <TMPL_LOOP list>
  <TR>
      <td><a href="/?op=stream_form&stream_id=<TMPL_VAR stream_id>"><b><TMPL_VAR stream_title></b></a></td>
      <td>
      	<TMPL_IF stream_live><b style="color:green">LIVE</b></TMPL_IF>
      	<TMPL_IF watchers> <TMPL_VAR watchers> watching</TMPL_IF>
      </td>
      <td><a href="/?op=my_streams&amp;del=<TMPL_VAR stream_id>&amp;token=<TMPL_VAR token>" onClick="return confirm('Delete this stream?')"><img src="<TMPL_VAR static_url>/images2/delete.svg" alt=""></a></td>
  </TR>
  </TMPL_LOOP>
</tbody>
</Table>
</div>
<TMPL_ELSE>
empty
</TMPL_IF>
