<script>
	loadT('My Torrents');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="<TMPL_VAR site_url>/?op=upload_torrent" class="btn btn-success me-2">
				Upload .torrent</a>
		</div>
	</div>
</div>
<TMPL_IF msg>
	<div class="alert alert-success">
		<TMPL_VAR msg>
	</div>
</TMPL_IF>

<TMPL_IF torrents>

<div class="table-responsive">
  <table class="table table-rounded align-middle" id="torrents">

<thead>
  <tr>
      <th style="width: 9999px;">Torrent</th>
      <th>Progress</th>
      <th>Download</th>
      <th>Upload</th>
      <th>Working</th>
      <th style="width: 1%;"></th>
  </tr>
</thead>
<tbody>
  <TMPL_LOOP torrents>
  <tr>
      <td>
  		<a href="#" onclick="$('#<TMPL_VAR sid>').toggle();"><TMPL_VAR name></a>
  		<div id="<TMPL_VAR sid>" style="display:none"><TMPL_VAR file_list></div>
      </td>
      <td><TMPL_VAR downloaded> of <TMPL_VAR size> Gb (<TMPL_VAR percent>%)</td>
      <td><TMPL_VAR download_speed></td>
      <td><TMPL_VAR upload_speed></td>
      <td><TMPL_VAR working></td>
      <td class="text-center"><a href="/?op=my_torrents&del_torrents=1&sid=<TMPL_VAR sid>" onClick="return confirm('Delete torrent?')"><img src="<TMPL_VAR site_url>/images2/delete.svg" border=0></a></td>
  </tr>
  </TMPL_LOOP>
</tbody>
</Table>
</div>
<TMPL_ELSE>
	<div class="alert alert-secondary">No torrents</div>
</TMPL_IF>
