<script>
  loadT('File <TMPL_IF download>downloads<TMPL_ELSE>views</TMPL_IF>');
</script>
<TMPL_IF list>
  <div class="table-responsive">
    <table class="table table-rounded table-justify">
      <thead>
        <tr>
          <th>Date</th>
          <th>Money</th>
          <th>Size</th>
          <th>Country</th>
          <th>Referer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <TMPL_LOOP list>
          <tr>
            <td><small>
                <TMPL_VAR created>
              </small></td>
            <td>
              <TMPL_VAR money>
            </td>
            <td>
              <TMPL_VAR size> MB
            </td>
            <td>
              <TMPL_VAR country>
            </td>
            <td>
              <TMPL_VAR referer>
            </td>
            <td>
              <TMPL_IF premium>Premium<br></TMPL_IF>
              <TMPL_IF adb>ADB<br></TMPL_IF>
              <TMPL_IF embed>Embed<br></TMPL_IF>
              <TMPL_IF download>Download</TMPL_IF>
            </td>
          </tr>
        </TMPL_LOOP>
      </tbody>
    </table>
  </div>
  <TMPL_ELSE>
    <div class="alert alert-secondary">No data</div>
</TMPL_IF>
<TMPL_VAR paging>
