<div class="container">
      <section class="page">

        <div class="row">
          <div class="col-12 col-sidebar d-none d-xl-block">
            <div class="mb-4">
              <div class="h5 text-dark">Categories</div>
              <nav class="nav flex-column catmenu">
                <TMPL_INCLUDE static/categories.html>
                  <a href="<TMPL_VAR site_url>/categories_all" class="nav-link">
                    <TMPL_VAR lng_index_all_categories>
                  </a>
              </nav>
            </div>
            <div class="mb-4">
              <div class="h5 text-dark">Tags</div>
              <div class="nav flex-wrap tags">
                <TMPL_INCLUDE static/tags.html>
              </div>
            </div>
          </div>
          <div class="col-12 col-catalog">

            <TMPL_UNLESS hide_search>
              <div class="search catalog-search mb-2 float-end">



  <Form method="GET" action="<TMPL_VAR site_url>/">
  <input type="hidden" name="op" value="search">



      <input type="search" name="k" placeholder="<TMPL_VAR lng_main_search>..." value="<TMPL_VAR k>" class="form-control search-field" data-bs-toggle="dropdown" data-bs-auto-close="outside">
      <div class="dropdown-menu dropdown-menu-end w-100 p-4">
        <div class="mb-2 row g-2">
          <label class="col-sm-3 col-form-label-sm"><TMPL_VAR lng_search_username></label>
          <div class="col-sm-9">
            <input type="text" name="user" value="<TMPL_VAR user>" class="form-control form-control-sm">
          </div>
        </div>
        <div class="mb-2 row g-2">
          <label class="col-sm-3 col-form-label-sm"><TMPL_VAR lng_search_category></label>
          <div class="col-sm-9">
            <select class="form-select form-select-sm" name="cat_id">
                <option value="">All</option>
                <TMPL_LOOP categories><option value="<TMPL_VAR cat_id>"<TMPL_VAR selected>><TMPL_VAR pre><TMPL_VAR cat_name></option></TMPL_LOOP>
            </select>
          </div>
        </div>
        <div class="mb-2 row g-2">
          <label class="col-sm-3 col-form-label-sm"><TMPL_VAR lng_search_tag></label>
          <div class="col-sm-9">
            <input type="text" name="tag" value="<TMPL_VAR tag>" class="form-control form-control-sm">
          </div>
        </div>


        <div class="row g-2 pt-3 justify-content-end">
          <div class="col-auto">
            <button type="button" class="btn btn-outline-light" onclick="$('.search-field, .dropdown-menu').removeClass('show')">Close</button>
          </div>
          <div class="col-auto">
            <button type="submit"  class="btn btn-primary"><TMPL_VAR lng_search_search></button>
          </div>
        </div>



      </div>
</form>
</div>
            </TMPL_UNLESS>



            <div class="mb-5">
              <div class="row align-items-center">
                <div class="col-md-auto me-auto">
                  <h1 class="text-center fs-2 text-dark mb-4">
                    <TMPL_VAR title>
                  </h1>
                </div>
                <div class="col-md-auto"></div>
              </div>
              <div class="row videos row-cols-xl-5 gx-3 gx-lg-4">
                <TMPL_INCLUDE videos_list.html>
              </div>
            </div>



          </div>
        </div>

        <TMPL_IF m_z>
        <script src="<TMPL_VAR cdn_url>/js/thumb_slide.js"></script>

        <script>
        tile_x=<TMPL_VAR m_z_cols>,tile_y=<TMPL_VAR m_z_rows>;
        thumb_w=192, thumb_h=108;
        </script>
        </TMPL_IF>

  </section>
</div>
