<script>
	loadT('<TMPL_IF stream_id>Edit Stream<TMPL_ELSE>New Stream</TMPL_IF>');
</script>
<div class="top-bar">
	<div class="row align-items-center g-3">
		<div class="col-auto">
			<a href="/?op=my_streams" class="btn btn-outline-light">
				<svg class="me-2" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.8998 7L7.7998 2L6.3998 0.600001L-0.000195503 7L6.3998 13.4L7.7998 12L2.8998 7Z" fill="currentColor"></path>
				</svg> My Streams</a>
		</div>
	</div>
</div>

<TMPL_IF msg>
  <div class="alert alert-success"><TMPL_VAR msg></div>
</TMPL_IF>

<div class="block admin-settings p-0">
	<Form method="POST">
	<input type="hidden" name="op" value="stream_save">
	<input type="hidden" name="stream_id" value="<TMPL_VAR stream_id>">
	<input type="hidden" name="host_id" value="<TMPL_VAR host_id>">
		<table class="table settings-table mb-0 align-middle">
			<tbody>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Stream title</label></td>
					<td class="border-start"><input type="text" name="stream_title" value="<TMPL_VAR stream_title>" class="form-control form-control-sm"></td>
				</tr>
				<TMPL_IF stream_id>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Stream URL</label></td>
					<td class="border-start"><b><TMPL_VAR rtmp_url>/live/<TMPL_VAR stream_code>?key=<TMPL_VAR stream_key></b></td>
				</tr>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Player URL</label></td>
					<td class="border-start"><a href="<TMPL_VAR site_url>/stream/<TMPL_VAR stream_code>"><TMPL_VAR site_url>/stream/<TMPL_VAR stream_code></a></td>
				</tr>
				</TMPL_IF>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Description</label></td>
					<td class="border-start"><textarea name="stream_descr"  class="form-control form-control-sm" rows="3"><TMPL_VAR stream_descr></textarea></td>
				</tr>
				<TMPL_IF m_q_allow_recording>
				<tr>
					<td class="text-lg-end"><label class="col-form-label">Record</label></td>
					<td class="border-start">
						<div class="form-switcher">
            	<input type="checkbox" id="stream_record" name="stream_record" value="1"<TMPL_IF stream_record> checked</TMPL_IF>>
            	<label class="switcher-status" for="stream_record"></label>
            </div>
					</td>
				</tr>
				</TMPL_IF>
			</tbody>
		</table>
		<div class="text-center p-4">
			<input type="submit" name="save" value="<TMPL_IF stream_id>Save changes<TMPL_ELSE>Create Stream</TMPL_IF>" class="btn btn-primary submit-btn">
		</div>
	</form>
</div>
