<div class="mb-5">
  <div class="row align-items-center">
    <div class="col-md-auto me-auto">
      <h1 class="text-center fs-2 text-dark mb-4">
        <TMPL_VAR lng_index_just_added>
      </h1>
    </div>
    <div class="col-md-auto"></div>
  </div>
  <div class="row videos row-cols-xl-5 gx-3 gx-lg-4">
    
	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/tkk5gekugmip" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/tkk5gekugmip_t.jpg') no-repeat;">
						<span class="videoItem-time">
							22:57
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/tkk5gekugmip">
						[Kayoanime] Death Note - 17
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							11
								
						</span>
					<span class="me-2">
							5
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/mayagj6x72dm" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/mayagj6x72dm_t.jpg') no-repeat;">
						<span class="videoItem-time">
							22:57
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/mayagj6x72dm">
						[Kayoanime] Death Note - 18
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							13
								
						</span>
					<span class="me-2">
							5
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/dqpythyw8jrh" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/dqpythyw8jrh_t.jpg') no-repeat;">
						<span class="videoItem-time">
							22:57
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/dqpythyw8jrh">
						[Kayoanime] Death Note - 16
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							6
								
						</span>
					<span class="me-2">
							5
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/foml5f9l0o1r" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/foml5f9l0o1r_t.jpg') no-repeat;">
						<span class="videoItem-time">
							22:57
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/foml5f9l0o1r">
						[Kayoanime] Death Note - 12
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							3
								
						</span>
					<span class="me-2">
							5
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/g4703q2kb7md" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/g4703q2kb7md_t.jpg') no-repeat;">
						<span class="videoItem-time">
							25:00
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/g4703q2kb7md">
						[AnimeRG] One Piece - 002 [1080p] [Dual-Audio] [Multi-Sub] [x265&#133;
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							9
								
						</span>
					<span class="me-2">
							5
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/8mxl9hftrata" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/8mxl9hftrata_t.jpg') no-repeat;">
						<span class="videoItem-time">
							23:36
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/8mxl9hftrata">
						[Cleo]Hunter x Hunter - 001 (Dual Audio 10bit BD1080p x265)
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							33
								
						</span>
					<span class="me-2">
							6
								
						</span>
					
				</div>
			</div>
		</div>
	</div>


  </div>
</div>
