<div class="mb-5">
  <div class="row align-items-center">
    <div class="col-md-auto me-auto">
      <h1 class="text-center fs-2 text-dark mb-4">
        <TMPL_VAR lng_index_most_viewed_videos>
      </h1>
    </div>
    <div class="col-md-auto"></div>
  </div>
  <div class="row videos row-cols-xl-5 gx-3 gx-lg-4">
    
	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/nqdgwqcko8qp" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/nqdgwqcko8qp_t.jpg') no-repeat;">
						<span class="videoItem-time">
							23:40
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/nqdgwqcko8qp">
						[SubsPlease] Kaijuu 8-gou - 16 (1080p) [CB2A0084] mkv
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/6i8w31tnjrdx" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/6i8w31tnjrdx_t.jpg') no-repeat;">
						<span class="videoItem-time">
							24:00
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/6i8w31tnjrdx">
						[SubsPlease] Dr  Stone S4 - 17 (1080p) [9B970106] mkv
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/6vyml86ewp4f" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/6vyml86ewp4f_t.jpg') no-repeat;">
						<span class="videoItem-time">
							24:00
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/6vyml86ewp4f">
						[SubsPlease] Anne Shirley - 18 (1080p) [EE19CA16] mkv
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/fspyih0uoqee" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/6vyml86ewp4f_t.jpg') no-repeat;">
						<span class="videoItem-time">
							24:00
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/fspyih0uoqee">
						[SubsPlease] Anne Shirley - 18 (1080p) [EE19CA16] mkv
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/tbqpta4aqtav" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/tbqpta4aqtav_t.jpg') no-repeat;">
						<span class="videoItem-time">
							25:04
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/tbqpta4aqtav">
						WITCH WATCH S01E14 Uron Mirage Chapter 119 The Fuzzy Hunt Part 4&#133;
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-sm-4 col-lg-3">
		<div class="videoItem ">
			<div class="videoItem-cover mb-2">
				<a href="https://daimoxaz.xyz/lb83dsgwltr8" class="video200">
					<div class="thumb" style="background: url('https://sw3.watchnew.ru/i/01/00000/lb83dsgwltr8_t.jpg') no-repeat;">
						<span class="videoItem-time">
							24:39
						</span>
					</div>
				</a>
			</div>
			<div class="videoItem-info">
				<div class="videoItem-title mb-1">
					<a class="link-body-emphasis" href="https://daimoxaz.xyz/lb83dsgwltr8">
						[Anime Time] Dragon Ball GT - 35
					</a>
				</div>
				
				<div class="videoItem-details">
					
						<span class="me-2">
							0
								
						</span>
					<span class="me-2">
							0
								
						</span>
					
				</div>
			</div>
		</div>
	</div>


  </div>
</div>
